@CHARSET "UTF-8";

img.img-profile {width:48px; height:48px;}
i.img-profile {font-size:3.5em; color:white;}
.member-icon {width:24px; height:24px;}
i.member-icon {font-size:2em;}
table.member-list td {vertical-align: baseline !important;}
.gallery a {margin:5px;}
.gallery a img {max-width:100px; max-height:100px;}

.google-map {min-height:400px;}

img.max100 {max-width:100%;}