body.landing-page {
	background:#ebebeb;
}

.margin-top-10 { margin-top:10px; }
.margin-left-10 { margin-left:10px; }
.margin-right-10 { margin-right:10px; }
.margin-bottom-10 { margin-bottom:10px; }

.margin-top-15 { margin-top:15px; }
.margin-left-15 { margin-left:15px; }
.margin-right-15 { margin-right:15px; }
.margin-bottom-15 { margin-bottom:15px; }

.margin-top-20 { margin-top:20px; }
.margin-left-20 { margin-left:20px; }
.margin-right-20 { margin-right:20px; }
.margin-bottom-20 { margin-bottom:20px; }

.margin-top-25 { margin-top:25px; }
.margin-left-25 { margin-left:25px; }
.margin-right-25 { margin-right:25px; }
.margin-bottom-25 { margin-bottom:25px; }

.margin-top-30 { margin-top:30px; }
.margin-left-30 { margin-left:30px; }
.margin-right-30 { margin-right:30px; }
.margin-bottom-30 { margin-bottom:30px; }

.swiper-container {width: 100%; height: 250px;}
.swiper-slide {
	text-align: center; font-size: 18px; background: #fff;
	/* Center slide text vertically */
	display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center;
	justify-content: center; -webkit-box-align: center; -ms-flex-align: center;
	-webkit-align-items: center; align-items: center;
}

.swiper-pagination-bullet {background: #fff; border:#fe444e solid 1px; opacity: 1;}
.swiper-pagination-bullet-active {opacity: 1; background: #fe444e;}

.swiper-button-prev {background-image:url(/resources/modules/pppp/images/app/prev.svg);}
.swiper-button-next {background-image:url(/resources/modules/pppp/images/app/next.svg);}
.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled {opacity:0.0}

.border-gray {border:#d3d3d3 solid 1px;}
.border-gray-top {border-top:#d3d3d3 solid 1px;}
.border-gray-right {border-right:#d3d3d3 solid 1px;}
.border-gray-bottom {border-bottom:#d3d3d3 solid 1px;}
.border-gray-left {border-left:#d3d3d3 solid 1px;}

.i-checks label {font-weight:normal;}
/* Member */
.mypage {position:relative; padding:25px 15px 15px; background:#7e36ef; text-align:center;}
.mypage .back {position:absolute; left:0px; top:-10px;}
.mypage .back img {max-width:24px; max-height:24px;}
.mypage .icon {}
.mypage .icon img {width:100px; height:100px; border:#ffffff solid 3px;}
.mypage #img_name {width:99px; height:18px;}
.mypage .title {margin:15px 0 0; color:white;}
.mypage-button {
	padding:15px; text-align:center; background:#e6e6e6; border-bottom:#d3d3d3 solid 1px;
}
.mypage-button .icon img {width:60px; height:60px;}
.mypage-button .title {margin:10px 0 0; color:black; font-weight:normal;}
.mypage-button-logined {border-bottom:none;}
.mypage-login {margin-top:30px; text-align:center;}
.mypage-login .title {color:black; font-weight:normal;}
.mypage-login #btn-join {background:#9a9a9a; color:white; border:none; border-bottom:#7b7b7b solid 1px;}
.mypage-login #btn-login {background:#7e36ef; color:white; border:none; border-bottom:#4d586e solid 1px;}

.mypage-title {
	margin-bottom:5px;
	text-align:center;
}
.mypage-title div {
	background:#ebebeb;
	color:#888888;
	border-top:#d3d3d3 solid 1px;
	border-bottom:#4d586e solid 1px;
}
.mypage-title div h3 {font-weight:normal;}
.mypage-title div.active {
	background:white;
	color:#4c586e;
	border-top:#4d586e solid 1px;
	border-bottom:white solid 1px;
}
.mypage-title div.active h3 {font-weight:bold;}
.mypage-title div.active-right {
	border-right:#4d586e solid 1px;
}
.mypage-title div.active-left {
	border-left:#4d586e solid 1px;
}

.mypage-content-list {
	overflow-x: hidden;
	overflow-y: auto;
}


.join {padding-top:15px; color:black;}
.join #btn-photo {width:80px; height:80px; border:#ffffff solid 3px;}
.join .agreement {margin-top:10px; margin-bottom:10px; background:white;}
.join .agreement .item {padding:10px 15px 5px;}

.login {}
.login .icon {margin:50px 0 30px; text-align:center;}
.login .icon img {width:150px;}
.login #btn-login {background:#7e36ef; color:white; border:none; border-bottom:#4d586e solid 1px;}
.login .title {color:#858585; text-align:center; font-weight:normal;}
.login .btn-facebook{color:white; background-color:#3b5998 !important; background-image:url(/resources/modules/pppp/images/app/ic_btn_facebook.png); background-size:15px; background-position:25px 8px; background-repeat: no-repeat; border:none; border-bottom:#2f477a solid 1px;}
.login .btn-kakao{color:#3a1c1c; background-color:#ffeb35 !important; background:url(/resources/modules/pppp/images/app/ic_btn_kakao.png); background-size:25px; background-position:21px 10px; background-repeat: no-repeat; border:none; border-bottom:#ccbc2a solid 1px;}
.login .btn-naver{color:white; background-color:#33c005 !important; background:url(/resources/modules/pppp/images/app/ic_btn_naver.png); background-size:20px; background-position:25px 12px; background-repeat: no-repeat; border:none; border-bottom:#1f7303 solid 1px;}



/* Board */
.board-banner-item {position:relative; width:100%; height:250px;}
.board-banner-item div.item-bg{position:relative; width:100%; height:100%; overflow:hidden;}
.board-banner-item div.item-bg img {position: absolute; margin: auto; min-height:100%; min-width:100%; left:-100%; right:-100%; top:-100%; bottom:-100%;}
.board-banner-item div.item-body {position:absolute; top:50px; width:100%; height:100%; z-index:100;}
.board-banner-item div.item-body h4 {color:white;}
.board-banner-item div.item-body h4 span {border-top:2px solid rgba(255, 255, 255, .5); border-bottom:2px solid rgba(255, 255, 255, .5);}
.board-banner-item div.item-body h2 {color:white;}
.board-banner-item div.item-btn {position:absolute; bottom:40px; width:100%; z-index:100; text-align: center;}
.board-banner-item div.item-btn span {font-size:0.8em; margin:0 5px; color:white;}
/* 
.board-banner-item div.item-btn span.recommend {background:url(/resources/modules/pppp/images/app/ic_thumbup_blank.png) no-repeat 0 2px; background-size:15px;}
.board-banner-item div.item-btn span.comment {background:url(/resources/modules/pppp/images/app/ic_comment_blank.png) no-repeat 0 2px; background-size:15px;}
.board-banner-item div.item-btn span.favorite {background:url(/resources/modules/pppp/images/app/ic_flag_blank.png) no-repeat 0 2px; background-size:15px;}
 */

 
.board-code-item {position:relative; text-align:center; background:white; padding:15px 0 10px; height:85px;}
.board-code-item h4 {position:absolute; width:100%; text-align:center; bottom:5px;}
.board-code-item .icon {}
.board-code-item .icon img {max-width:40px; max-height:30px;}
.board-code-item .icon img.bw {margin-top:10px;}

.board-category-item {text-align:center;}
.board-category-item h4{margin:0px; padding:15px 0px;}
.board-category-item h4.active {color:#606e89; border-bottom:#606e89 solid 2px;}

.board-sort {margin-top:10px;}
.board-sort2 {margin-top:60px;}

section#list {margin-bottom:15px;}
section#list.sub {margin-top:50px;}

.board-item {position:relative; margin-top:15px; padding:15px; background:#fff; border:#d3d3d3 solid 1px; cursor:pointer;}
.board-item hr {margin-top:10px; margin-bottom:10px;}
.board-item-image {position:relative; width:100%; height:100px; overflow:hidden;}
.board-item-image img {position: absolute; width:100%; height:100%; object-fit:cover;}
.board-item-postscript {position:relative; width:100%; height:100px;}
.board-item-postscript-before {position:relative; width:50%; height:100px; float:left; overflow:hidden;}
.board-item-postscript-before img {position: absolute; width:100%; height:100%; object-fit:cover;}
.board-item-postscript-before-lock{position:relative; width:50%; height:100px; float:left; overflow:hidden; background:black;}
.board-item-postscript-before-lock h5 {position:absolute; width:100%; padding-top:50px; top:8px; text-align:center; color:white; font-weight:normal; background:url(/resources/modules/pppp/images/app/ic_lock.png) no-repeat center; background-size:18px;}
.board-item-postscript-after {position:relative; width:50%; height:100px; float:right; overflow:hidden;}
.board-item-postscript-after img {position: absolute; width:100%; height:100%; object-fit:cover;}
.board-item-postscript-clear {clear:both;}

.board-item-content {color:#888888;}
.board-item-content .subject{color:black; font-weight:normal;}
.board-item-btns {text-align:center;}
.board-item-btns span {font-size:0.8em; margin:0 5px; color:#888888;}
/* .board-item-btns span.recommend {background:url(/resources/modules/pppp/images/app/ic_board_thumbup_gray.png) no-repeat; background-size:12px;}
.board-item-btns span.comment {background:url(/resources/modules/pppp/images/app/ic_board_comment_gray.png) no-repeat; background-size:12px;}
.board-item-btns span.favorite {background:url(/resources/modules/pppp/images/app/ic_board_flag_gray.png) no-repeat; background-size:12px;}
 */
.category-header {position:fixed; background:#ebebeb; width:100%; top:0px; z-index:100;}

div#wrapper-write {position:fixed; bottom:15px; right:15px; z-index:200;}
div#wrapper-write img {max-width:50px; max-height:50px;}

.app-form {margin:15px auto;}
.app-form .margin-top-15 {margin-top:15px;}

#form-after {margin:15px auto;}
#form-after .form-image {position:relative; width:100%; }
#form-after img {width:100%; height:100px;}
#form-after span {position:absolute; right:15px; bottom:15px; display:block;}
.landing-page section p {color: #000000;}

.social-avatar-icon {width:60px; height:60px;}
.social-avatar-icon img {width:60px; height:60px;}
.social-avatar-body {padding-left:75px;}

/* Hospital&Pharmacy */
.hp-item {border-bottom:#d3d3d3 solid 1px;}
.hp-item .subject {color:#000000;}
.hp-item .location {color:#c7c7c7;}
.hp-item .btn-call {position:absolute; right:15px; top:10px;}

/* Event */
.event-item {margin:0px; padding:0 0 10px; background:#e6e6e6;}	
.event-item-wrapper {margin:0px; padding:10px 15px; background:#fff; overflow:hidden; border-bottom:#d3d3d3 solid 1px;}
.event-item .subject {margin:10px 0 0; color:black; white-space: nowrap; overflow: hidden; display: block; text-overflow: ellipsis; text-align:left;}
.event-item .cost {color:#f36b77;}
.event-item .hospital {color:#c7c7c7; font-weight:normal;}
.event-item .hospital small {color:#c7c7c7;}
.event-item-image {position:relative; width:100%; height:180px; overflow:hidden; border:#d3d3d3 solid 1px;}
.event-item-image img {position: relative; width:100%; height:100%; object-fit:cover;}
.event-item hr {margin:10px 0; border-top:#d3d3d3 solid 1px;}	
	
/* CAST */
.cast-swiper {width: 100%; height: 150px;}

.cast-container {padding:10px 0px 0px 10px;}

.cast-banner-item {position:relative; width:100%; height:150px; cursor:pointer;}
.cast-banner-item div.item-bg{position:relative; width:100%; height:100%; overflow:hidden;}
.cast-banner-item div.item-bg img {position: absolute; margin: auto; min-height:100%; min-width:100%; left:-100%; right:-100%; top:-100%; bottom:-100%;}

.cast-item {padding:0px; cursor:pointer;}	
.cast-item-wrapper {margin:0 10px 10px 0px; padding:10px; background:#fff; border:#d3d3d3 solid 1px; overflow:hidden;}
.cast-item .subject {margin:10px 0 0; color:black; white-space: nowrap; overflow: hidden; display: block; text-overflow: ellipsis; text-align:left;}
.cast-item-image {position:relative; width:100%; height:100px; overflow:hidden;}
.cast-item-image img {position: relative; width:100%; height:100%; object-fit:cover;}

.cast-content {position:relative; width:100%; height:100%; padding:0px;}
.cast-content .cast-source {position:absolute; right:15px; top:15px; color:rgba(255, 255, 255, 0.65); z-index:100;}
.cast-content .actions {position:absolute; width:100%; padding:15px; bottom:0px; z-index:100;  background-color:rgba(0, 0, 0, 0.65); text-align:right;}

.cast-content-swiper {width:100%; height:100%;}
.cast-content-swiper .swiper-slide {background:none;}
.cast-content-swiper .cast-main {position:absolute; width:100%; height:220px; left:0px; padding:30px 20px 15px; bottom:0px; background-color:rgba(0, 0, 0, 0.65); text-align:left;}
.cast-content-swiper .cast-main .title {color:white; display:block;}
.cast-content-swiper .cast-main .content {color:rgba(255, 255, 255, 0.8);}
.cast-content-swiper .cast-image {width:100%; height:100%; background-color:rgba(0, 0, 0, 0.65);}
.cast-content-swiper .cast-recommend {margin:0px; padding:0px; background-color:rgba(0, 0, 0, 0.65); overflow:hidden;}
.cast-content-swiper .cast-recommend .row {width:100%; height:100%; margin:0px; padding:10px 0px 0px 10px;}
.cast-content-swiper .cast-recommend .row h4{color:white;}

/* Mdical */
.medical-container {margin:0px; padding:0px;}
.medical-item {position:relative; width:100%; height:200px;}
.medical-item-wrapper {position:relative; margin-top:80px; text-align:center;}
.medical-item-wrapper .subject {color:white; display:block;}
.medical-item-wrapper .content {color:rgba(255, 255, 255, 0.8);}

.medical-group-item {position:relative; margin:0px; padding:0px;}
.medical-group-item-wrapper {padding:15px; background:#ffffff; border-bottom:#e5e5e5 solid 1px; cursor:pointer;}
.medical-group-item-wrapper .subject{margin:0px; padding:0px;}

.medical-content-item {position:relative; padding:15px; cursor:pointer;}
.medical-content-item .medical-content-image {position:relative; width:100%; height:100px; overflow:hidden;}
.medical-content-item .medical-content-image img {position: relative; width:100%; height:100%; object-fit:cover;}
.medical-content-item .medical-content-body {padding:15px 0px;}
.medical-content-item .subject {margin:0px; padding:0px; color:black;}
.medical-content-item .content {margin-top:10px; white-space: nowrap; overflow: hidden; display: block; text-overflow: ellipsis;}
.medical-content-item .info {margin-top:10px;}

.medical-content {position:relative; width:100%; height:100%; padding:0px;}
.medical-content .actions {position:absolute; width:100%; padding:15px; bottom:0px; z-index:100;  background-color:rgba(0, 0, 0, 0.65); text-align:right;}

.medical-content-swiper {width:100%; height:100%;}
.medical-content-swiper .swiper-slide {background:none;}
.medical-content-swiper .medical-main {position:absolute; width:100%; height:220px; left:0px; padding:30px 20px 15px; bottom:0px; background-color:rgba(0, 0, 0, 0.65); text-align:left;}
.medical-content-swiper .medical-main .title {color:white; display:block;}
.medical-content-swiper .medical-main .content {color:rgba(255, 255, 255, 0.8);}
.medical-content-swiper .medical-image {width:100%; height:100%; background-color:rgba(0, 0, 0, 0.65);}
.medical-content-swiper .medical-recommend {margin:0px; padding:0px; background-color:rgba(0, 0, 0, 0.65); overflow:hidden;}
.medical-content-swiper .medical-recommend .row {width:100%; height:100%; margin:0px; padding:10px 0px 0px 10px;}
.medical-content-swiper .medical-recommend .row h4{color:white;}

.event-hospital {background:white; padding-top:10px; padding-bottom:10px; border-bottom:#d3d3d3 solid 1px;}
.event-title {background:white; padding-top:15px; padding-bottom:15px; }
.event-title h3 {color:black;}
.event-title h5 {color:#f26a74;}
.event-image {background:white;}
.event-buttons {margin-top:15px; margin-bottom:15px;}


/* Hospital & Pharmacy */
.photo-item{position:relative; width:100%; height:100%; overflow:hidden;}
.photo-item img {position: relative; width:100%; height:100%; object-fit:cover;}

.store-title {position:relative; padding-top:15px; padding-bottom:15px; background:white; text-align:center; border-bottom:#d3d3d3 solid 1px;}
.store-title h3 {color:black;}
.store-title h4 {color:#adadad; font-weight:normal; white-space: nowrap; overflow: hidden; display: block; text-overflow: ellipsis;}
.store-title .btn-map {color:#f36b77;}

.store-time {position:relative; margin-top:10px; padding-top:15px; padding-bottom:15px; background:white; color:#5d5d5d; border-bottom:#d3d3d3 solid 1px;}
.store-time h4 {padding-left:10px; padding-right:10px; color:#888888; font-weight:normal;}
.store-time .store-time-body {padding-left:10px; padding-right:10px;}
.store-time .time {margin-bottom:5px;}
.store-call {position:relative; margin-top:5px; height:60px; background:url(/resources/modules/pppp/images/app/store_call.png) no-repeat; background-size:cover;}
.store-call div {position:absolute; left:100px; top:20px; font-size:1.1em; color:white;}
.store-call div span {color:#fee244;}
.store-phone {position:fixed; width:100%; bottom:15px;}

.store-rating {position:relative; margin-top:10px; padding-top:15px; padding-bottom:15px; background:white; color:black; border-bottom:#d3d3d3 solid 1px;}
.store-rating h4 {padding-left:10px; color:#888888; font-weight:normal;}
.store-rating h3 {margin-top:0px;}
.store-rating h3 .stars {color:#c7c7c7; padding-right:10px; font-size:1.3em;}
.store-rating h3 .stars .on {color:#feb75e;}

.store-comment {position:relative; margin-top:10px; padding-top:15px; padding-bottom:15px; background:white; color:black; border-bottom:#d3d3d3 solid 1px;}
.store-comment h4 {padding-left:10px; color:#888888; font-weight:normal;}
.store-comment .comment {margin-top:10px; color:#888888;}
.store-comment .comment .img {width:40px; height:40px; margin-right:15px;}
.store-comment .comment h5{margin:0px 0 5px; color:black; font-weight:bold;}
.store-comment .comment-form {margin-top:15px;}


.store-end {height:100px;}

#hp-favorite {position:absolute; top:10px; left:10px; text-align:center; z-index:100; color:white; font-size:0.8em; cursor:pointer;}
#hp-favorite img {width:30px; margin-bottom:5px;}


/* Search */
.search {position:relative; padding:10px 5px; background:#7e36ef; text-align:center;}
.search .back {position:absolute; left:15px; top:15px;}
.search .back img {max-width:24px; max-height:24px;}
#search-form {position:fixed; z-index:100;}
#search-content {padding-top:47px; background:white;}
#search-content .title {margin-top:20px; color:black;}
#search-keyword {padding-top:20px; line-height: 2em; }



#btn-recommend {cursor:pointer;}
#btn-favorite {cursor:pointer;}
#btn-share {cursor:pointer;}
.btn-sort {cursor:pointer;}