@CHARSET "UTF-8";

.nav-profile {width:50px; height:50px; margin-bottom:10px;}

.lightBoxGallery img {max-width:100px; max-height:100px;}

.margin-10 {margin:10px;}

.user-list-image {max-width:50px; max-height:50px;}

.icheck-inline {display:inline;}

.margin-left-10 {margin-left:10px;}
.margin-left-20 {margin-left:20px;}
.margin-left-30 {margin-left:30px;}

.margin-right-10 {margin-right:10px;}
.margin-right-20 {margin-right:20px;}
.margin-right-30 {margin-right:30px;}


.btn-sort {cursor:pointer;}