/* for Main */
body.main {
	color: white;
	background-color: #f1f1f1;
	background-image: url(/res/images/bg_mobile.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

body.main .title h4 {text-align: center; margin-top: 20px;}
body.main .title h2 {margin:50px 10px 10px; font-size: 3.0em;}
body.main .title h3 {margin:0px 10px; font-size: 2.0em; font-weight: normal;}
body.main .title p {margin:20px 10px; font-size: 0.9em;}
body.main nav {
	position: relative;
	margin:50px 15px 15px;
	background-color:#ffffff;
	border:#f1f1f1 solid 1px;
}

body.main nav ul {margin:20px; padding:0px;}
body.main nav ul li {position: relative; padding:20px; border-bottom: #e4e4e4 solid 1px; }
body.main nav ul li.agenda {
	background-image: url(/res/images/ic_agenda.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	background-size: 20px;
}
body.main nav ul li.information {
	background-image: url(/res/images/ic_infomation.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	background-size: 17px;
}
body.main nav ul li.question {
	background-image: url(/res/images/ic_question.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	background-size: 17px;
}
body.main nav ul li.product {
	background-image: url(/res/images/ic_product.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	background-size: 17px;
}
body.main nav ul li.feedback {
	background-image: url(/res/images/ic_feedback.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	background-size: 20px;
}
body.main nav ul li.no-line {border:none;}
body.main nav ul li i.arrow {
	position: absolute;
	display: block;
	right: 0px;
	top:20px;
	width:17px; height:17px;
	background-image: url(/res/images/main_arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 17px;
}
body.main nav ul li a {
	display: block; color: black; padding-left: 20px; text-decoration: none;
	font-size: 1.2em; font-weight: bold;
}
body.main nav .short-cut {
	position: absolute;
	top:-20px;
	right:15px;
	padding:10px 20px 10px 40px;
	background: #004665;
	background-image: url(/res/images/ic_star.png);
	background-repeat: no-repeat;
	background-position: 15px center;
	background-size: 15px;
}

@media (min-width:768px) {
	body.main {
		color: white;
		background-color: #f1f1f1;
		background-image: url(/res/images/bg_pad.png);
		background-size: 100%;
		background-repeat: no-repeat;
	}
	
	body.main .title h4 {display: none;}
	body.main .title h2 {margin:100px 50px 10px; font-size: 5.0em;}
	body.main .title h3 {margin:0px 50px; font-size: 5.0em; font-weight: normal;}
	body.main .title p {margin:30px 50px; font-size: 1.8em;}

	body.main nav {position: relative; margin:50px 30px 30px;}
	body.main nav ul {margin:40px; padding:0px;}
	body.main nav ul li {position: relative; padding:30px; border-bottom: #e4e4e4 solid 1px; }
	body.main nav ul li.agenda {
		background-position: 10px center;
		background-size: 35px;
	}
	body.main nav ul li.information {
		background-position: 10px center;
		background-size: 30px;
	}
	body.main nav ul li.product {
		background-position: 10px center;
		background-size: 30px;
	}
	body.main nav ul li.feedback {
		background-position: 10px center;
		background-size: 35px;
	}
	body.main nav ul li i.arrow {
		top:30px;
		width:35px; height:35px;
		background-size: 30px;
	}
	body.main nav ul li a {
		display: block; color: black; padding-left: 40px; text-decoration: none;
		font-size: 1.8em; font-weight: bold;
	}
	body.main nav .short-cut {
		position: absolute;
		top:-30px;
		right:15px;
		font-size: 1.6em;
		padding:10px 20px 10px 60px;
		background: #004665;
		background-image: url(/res/images/ic_star.png);
		background-repeat: no-repeat;
		background-position: 25px center;
		background-size: 15px;
	}
}

/* for Sub */

body.sub {background: #f1f1f1; margin-top:50px; margin-bottom:100px;}
body.sub div.title {
	position: fixed;
	background:#65b744;
	top:0px; left:0px; right:0px; 
	height:50px;
	color:white;
	overflow: hidden;
	z-index: 10;
}
body.sub div.title h3{
	font-size: 1.5em;
	text-align: center;
	margin-top:15px;
}
body.sub div.title h3.title {display:none;}
body.sub div.title a {
	position: absolute;
	top:-5px;
	right:0px;
}
body.sub div.title a img {width:30px;}
body.sub nav {
	position: fixed;
	height:65px; overflow: hidden;
	right: 0px; bottom: 0px; left:0px;
	background: #ffffff;
	border-top: #dbdbdb solid 1px;
	z-index: 10;
}
body.sub nav ul {
	margin:0px; padding:0px;
	list-style: none;
}

body.sub nav li {
	margin-top: 10px;
	padding-top: 30px;
	width:20%;
	float:left;
	text-align: center;
}

body.sub nav ul li.agenda {
	background-image: url(/res/images/ic_agenda.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 20px;
}
body.sub nav ul li.information {
	background-image: url(/res/images/ic_infomation.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 17px;
}
body.sub nav ul li.question {
	background-image: url(/res/images/ic_question.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 20px;
}
body.sub nav ul li.product {
	background-image: url(/res/images/ic_product.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 17px;
}
body.sub nav ul li.feedback {
	background-image: url(/res/images/ic_feedback.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 22px;
	font-size:0.9em;
}
body.sub nav ul li a {
	color: black; text-decoration: none;
	font-size: 1em; font-weight: bold;
}

body.sub nav ul li.active a {color:#419e1c;}
body.sub nav ul li.agenda.active {
	background-image: url(/res/images/ic_agenda_o.png);
}
body.sub nav ul li.information.active {
	background-image: url(/res/images/ic_information_o.png);
}
body.sub nav ul li.question.active {
	background-image: url(/res/images/ic_question_o.png);
}
body.sub nav ul li.product.active {
	background-image: url(/res/images/ic_product_o.png);
}
body.sub nav ul li.feedback.active {
	background-image: url(/res/images/ic_feedback_o.png);
}

body.sub div#date-list {
	background:#65b744;
}
body.sub div#date-list .btn-agenda-date {cursor:pointer;}
body.sub div#date-list h3 {font-size:1em; color:white; text-align: center;}
body.sub div#date-list .active {border-bottom:#fcffae solid 5px;}
body.sub div#date-list .active h3 {color:#fcffae;}
body.sub div.place-item {margin-top:15px;}
body.sub div.place-item h4.principal {font-size:1em; text-align: right;}
body.sub div.place-item p.principal {font-size:1em; text-align: right;}
body.sub div.place-item ul li.session {
	background:white;
	margin-top:10px;
	padding:15px;
}
body.sub div.place-item ul li.normal {border-left:#b1b1b1 solid 3px;}
body.sub div.place-item ul li.speak {border-left:#0095d8 solid 3px;}
body.sub div.place-item ul li .time {font-size:0.8em; color:#aeaeae;}
body.sub div.place-item ul li .subject {color:black;}
body.sub div.place-item ul li .speaker {color:#0095d8;}
body.sub div.place-item ul li .btn-show {display:block; margin-top:10px; padding:5px 20px; background:#0095d8; color:white; text-align:center; cursor:pointer;}

body.sub div#information {
	margin:65px 15px;
	border:#dbdbdb solid 1px; 
	background:white;
}
body.sub div#information ul {
	margin:0px; padding:0px;
	list-style: none;
	
}

body.sub div#information ul li {
	position:relative;
	padding:15px 0px;
	border-bottom:#e4e4e4 solid 1px;
}
body.sub div#information ul li.no-line {border:none;}
body.sub div#information ul li i.arrow {
	position: absolute;
	display: block;
	right: 0px;
	top:15px;
	width:15px; height:15px;
	background-image: url(/res/images/main_arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 15px;
}
body.sub div#information ul li a {color:#666666; text-decoration: none;}

body.sub div#lecture-wrapper {margin:65px 0px 15px;}

@media (min-width:768px) {
	body.sub div.title {
		margin:0px; width:100%; height:100px;z-index:20;
	}
	body.sub div.title h3{
		font-size: 3em;
		text-align: center;
		margin-top:15px;
	}
	body.sub div.title h3.title {display: block;}
	body.sub div.title h3.sub-title {display:none;}
	body.sub div.title a {display:none;}
	body.sub nav {
		position: relative;
		margin-top:100px;
		border:none;
		height:50px; overflow: hidden;
		background: #65b744;
	}
	body.sub nav ul {
		margin:0px 50px; padding:0px;
		list-style: none;
	}
	
	body.sub nav ul li {
		margin-top: 0px;
		padding-top: 0px;
		height:50px;
		width:25%;
		float:left;
		text-align: center;
	}
	
	body.sub nav ul li a {font-size: 1.5em; color:#cae4c3;}
	body.sub nav ul li.active {border-bottom:#fcffae solid 5px;}
	body.sub nav ul li.active a {color:#fcffae;}
	body.sub nav ul li.agenda {background-image: none;}
	body.sub nav ul li.information {background-image: none;}
	body.sub nav ul li.product {background-image: none;}
	body.sub nav ul li.feedback {background-image: none;}
	body.sub nav ul li.agenda.active {background-image: none;}
	body.sub nav ul li.information.active {background-image: none;}
	body.sub nav ul li.product.active {background-image: none;}
	body.sub nav ul li.feedback.active {background-image: none;}
	
	body.sub div#date-list {
		background:none;
	}
	
	body.sub div#date-list h3 {font-size:1em; color:#d1d1d1; text-align: center;}
	body.sub div#date-list div {border-bottom:#d1d1d1 solid 5px;}
	body.sub div#date-list .active {border-bottom:#65b744 solid 5px;}
	body.sub div#date-list .active h3 {color:#65b744;}
}