@charset "UTF-8";

/* reset */
*, *:before, *:after {margin:0; padding:0; -webkit-tap-highlight-color:rgba(0,0,0,0);box-sizing:border-box;vertical-align:top;padding:0;margin:0;-webkit-font-smoothing:antialiased;font-family:'Malgun Gothic','맑은 고딕',sans-serif;}
html{height:100%; font-size:16px; user-select: none;}
fieldset{border:0 none}
img{border:0 none;vertical-align: top;}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button,label{font-size:100%;vertical-align:middle;}
button{border:0 none;background-color:transparent;}
table{width:100%;border-collapse:collapse;border-spacing:0}
textarea{resize:none;padding:5px 10px;border:1px solid #d0d0d0;}

input{border-radius:0}
input[type="text"],input[type="password"]{height:30px;padding:0 10px;border:1px solid #d0d0d0;font-size:15px;}
input[type="file"]{border:0;}
select{height:30px; border:1px solid #d0d0d0;}

a, a:active, a:hover{text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}

body{letter-spacing: -0.08em; color: #2f2f2f;word-break: keep-all;word-wrap: break-word;}

/* common */
.inner{width:1200px;}

.mgt5{margin-top:5px;}
.mgt10{margin-top:10px;}
.mgt25{margin-top:25px;}
.mgt40{margin-top:40px;}
.mgl10{margin-left:10px;}
.mgl20{margin-left:20px;}

.pd10{padding:10px !important;}

.alignRight{text-align:right !important;}
.alignLeft{text-align:left !important;}

.w100p{width:100% !important;}
.w100{width:100px !important;}
.w400{width:400px !important;}

/* login */
.box_login{position:absolute; top:50%; left:50%; width:750px; margin-left:-375px; margin-top: -170px; padding:60px 95px; border:10px solid #ebf2fa;}
.box_login h1{margin-bottom: 60px; text-align: center; font-size:40px; letter-spacing: -0.05em; line-height: 1;}
.box_login h1 span{font-size:50px; color:#356db6; vertical-align: text-bottom; line-height: 1;}
.formLogin{position: relative;}
.formLogin span{display: block;}
.formLogin span+span{margin-top: 10px;}
.formLogin input{width: 300px;  height: 40px;}
.formLogin label{display: inline-block; width: 75px; font-size: 16px; vertical-align: middle;}
.formLogin a{display: inline-block; position: absolute; top:0; right:0; width: 150px; height: 90px; background: #356db6; text-align: center; font-size: 20px; vertical-align: middle; color: #fff; font-weight: bold; line-height: 90px;}

/* header */
header{min-width:1200px; background:#f3f3f3;}
header h1{display: inline-block; vertical-align: middle;}
header h2{display: inline-block; margin-left:10px; vertical-align: middle; font-size:24px; color:#356db6;}
header .btns{position:absolute; top:25px; right:50px;}
header .btns .btn{display:inline-block; width:95px; padding:5px 0; border-radius: 4px; text-align:center; font-size:15px; color:#fff; font-weight: bold;}

.color_red{color:#e31010;}

.blue{background:#356db6;}
.gray{background:#b4b4b4;}
.darkgray{background:#656565;}

/* footer */
footer{min-width:1200px; padding:20px 40px; background:#a0a0a0; color:#fff; font-size: 12px;}

/* menu */
section{min-width:1200px; overflow: hidden;}

.menu{float:left; width:200px; margin-bottom:50px;}
.menu li+li{border-top:1px solid #fff;}
.menu a{display: block; padding:20px 0; background:#656565; font-size:18px; color:#fff; text-align:center;}
.menu .is-selected{background:#356db6;}

.contents{float:left; width:950px; margin-left:50px; padding:50px 0;}

/* main */
.admin_main{margin:100px 0; padding-top:145px; background:url(../images/admin/bg_admin_main.gif) no-repeat center top; font-size:25px; text-align:center; line-height:150%;}

/* contents */
.tit_page{margin-bottom:30px; font-size:30px; color:#303030; font-weight: normal;}

/* table */
.tbl{border-top:1px solid #303030; font-size:14px;}
.tbl tr:first-child th,.tbl tr:first-child td{border-top:0;}
.tbl th{background:#f5f5f5; font-weight: normal; vertical-align: middle;}
.tbl td{vertical-align: middle;}

/* 검색 */
.tbl_search{margin-bottom:20px;}
.tbl_search th{height:50px; padding:10px 15px; border:1px solid #d0d0d0; text-align:left;}
.tbl_search th select{border:0;background:#f5f5f5;}
.tbl_search td{padding:5px 10px; border:1px solid #d0d0d0; vertical-align: middle;}
.tbl_search td input[type="text"]{width:100%;}
.tbl_search td select{width:100%;}
.tbl_search td span{display: inline-block;}

/* 게시판 리스트 */
.tbl_list th{padding:10px 0; border-bottom:1px solid #d0d0d0;}
.tbl_list th+th{border-left:1px solid #d0d0d0;}
.tbl_list td{padding:15px 0; border-bottom:1px solid #d0d0d0; text-align: center;}
.tbl_list td+td{border-left:1px solid #d0d0d0;}
.tbl_list .btns a{display: inline-block; margin:0 3px;}
.tbl_list .btn{padding:5px;}

.info_tbl_top{position: relative;font-size:14px; line-height: 150%;}
.info_tbl_top .btns{font-size:14px; line-height: 150%;}
.info_tbl_top .positionRight{position: absolute;top:5px; right:0;}
.info_tbl_top .positionLeft{position: absolute;top:-5px; left:0;}

.infoBox_tbl_top{padding:20px 0;border:1px solid #8d8d8d; background: #f2f2f2; color:#6a6a6a; font-size:14px; text-align:center;}
.infoBox_tbl_top li{line-height:200%;}
.infoBox_tbl_top a{font-size:16px;}

/* 게시판 등록 */
.tbl_write th{padding:15px 0; border-bottom:1px solid #d0d0d0; vertical-align: middle;}
.tbl_write td{padding:5px; border-bottom:1px solid #d0d0d0; vertical-align: middle;}
.tbl_write .templates img{vertical-align: middle;}
.tbl_write .templates label{vertical-align: middle;}

.tbl_agree{line-height: 150%;}
.tbl_agree p,.tbl_agree ul{margin-bottom:5px;}

/* buttons */
.btn{display:inline-block; padding:5px 20px; text-align:center; font-size: 14px;}
.btnArea{text-align:center;}
.btnArea .btn{width:100px; padding:10px 0; color:#fff; font-weight: bold;}
.btnArea .btn+.btn{margin-left:10px;}

.blueBorder{border:1px solid #356db6; background: #fff; color:#356db6;}
.grayBorder{border:1px solid #8d8d8d; background: #f2f2f2; color:#6a6a6a;}

/* paging */
.pagingWrap{margin-top:30px; text-align:center;}
.paging{display:inline-block; overflow:hidden;}
.paging a{display:inline-block; float:left; width:33px; height:33px; border:1px solid #ddd; font-size:0.875rem;/*14px*/ color:#404040; text-align:center; line-height:33px;}
.paging .is-selected{border:1px solid #0e76bc; color:#0e76bc;}
.paging a img{vertical-align: middle;}
.paging a+a,
.paging span a,
.paging span+a{border-left:0;}
