@charset "UTF-8";

/* reset */
*, *:before, *:after {margin:0; padding:0; -webkit-tap-highlight-color:rgba(0,0,0,0);box-sizing:border-box;vertical-align:top;padding:0;margin:0;-webkit-font-smoothing:antialiased;font-family:'Malgun Gothic','맑은 고딕',sans-serif;}
html{height:100%; font-size:16px; user-select: none;}
fieldset{border:0 none}
img{border:0 none;vertical-align: top;}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button,label{font-size:100%;vertical-align:middle;}
button{border:0 none;background-color:transparent;}
table{width:100%;border-collapse:collapse;border-spacing:0}
textarea{resize:none;padding:5px 10px;border:1px solid #d0d0d0;}

input{border-radius:0}
input[type="text"],input[type="password"]{padding:0 10px;border:1px solid #d0d0d0;font-size:15px;}
input[type="file"]{border:0;}
select{background:#fff; border:1px solid #d0d0d0;}

a, a:active, a:hover{text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}

body{position:relative; letter-spacing: -0.08em; color: #2f2f2f;word-break: keep-all;word-wrap: break-word;}

/* guide */
.tit_guide{margin:20px 0 10px 0;padding:10px 0; border-radius:3px; background: #00d1b2; color:#fff; text-align:center;clear:both;}

/* common */
.sprites{background-image: url(../images/sprites.png); background-repeat: no-repeat;}
.hide_text{font-size:0; text-indent:-99999px;}
.clear_float:after{content:""; display: block; clear: both;}
.inner{position:relative;width:1100px;margin:0 auto;}
.dim{display:none; position:fixed; top:0; bottom:0; left:0; width:100%; z-index:100; background:rgba(0,0,0,0.6);}
.ellipsis{overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal;}
.align_left{text-align:left !important;}
.readonly{background:#f9f9f9; color:#9d9d9d;}
.color_blue{color:#1f66c2;}
.color_red{color:#d72e2e;}
.selectUi{height:40px;font-size:15px;}
.textBox{width:100%; height:100px;}

.mgt0{margin-top:0 !important;}
.mgt5{margin-top:5px;}
.mgt30{margin-top:30px;}
.mgt50{margin-top:50px;}

.mgl20{margin-left:20px;}

.w100p{width:100%;}
.w60{width:60px;}
.w120{width:120px;}
.w160{width:160px;}
.w220{width:220px;}
.w300{width:300px !important;}

.txt{margin:30px 0; font-size:15px; line-height:26px;}
.box_img{margin:30px 0; text-align:center;}
.box_img .m{display:none;}
.bullet_round_blue{display: inline-block; width:22px; height:22px; border-radius: 50%; background: #356db6;text-align:center; color:#fff; font-weight:700; line-height:20px; vertical-align: middle; font-size:14px; letter-spacing: -0.05em;}
.indent_list_bullet li{padding-left:25px; text-indent:-25px;}
.indent_list_bullet li+li{margin-top:15px;}
.indent_list_bullet .bullet_round_blue{text-indent:0;}
.define dt{color:#356db6; font-weight: 700;}
.define_line+.define_line{margin-top: 20px; padding-top: 20px; border-top:1px dashed #b9b9b9;}
.define_line dt{margin-bottom:10px; padding-left:25px; text-indent:-25px; color:#356db6; font-weight: 700;}
.define_line dt .bullet_round_blue{text-indent:0;}
.box_border_list{padding:25px 80px; border:1px solid #d0d0d0; color:#454545;}
.box_border_list li{padding-left:10px; text-indent:-10px;}
.innerImg span .m{display:none;}
.innerImg p{display:inline-block; width:600px; margin-left:20px;}
.tit_commandment{margin:0 !important; background:#373737;}
.commandment{height:841px; padding:40px 130px 0 145px; background:url(../images/bg_commandment.jpg) no-repeat top left;}
.commandment .bullet_round_blue{width:34px; height:34px; line-height:30px; font-size:19px; font-weight: 400;}
.commandment .indent_list_bullet li{padding-left:40px; text-indent:-40px; font-size:18px; line-height: 30px;}
.commandment .indent_list_bullet li:nth-of-type(2n) .bullet_round_blue{background:#373737;}

/* main */
.main_top{background:url(../images/bg_visual.jpg) no-repeat center top;}
.main_top .inner{position:relative;height:400px;}
.main_top .carousel{width:452px; background:rgba(0,0,0,.5);}
.main_top .mainTop_slider .owl-nav{display:none;}
.main_top .mainTop_slider .owl-dots{position:absolute; bottom:60px; left:50px;}
.main_top .mainTop_slider .owl-dots .owl-dot span{width:25px; height:4px; margin:0 2px; background:#a2a2a2; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease;}
.main_top .mainTop_slider .owl-dots .owl-dot.active span{width:85px; background:#fff;}
.main_top .top_link{position:absolute; top:60px; right:40px;width:402px;overflow:hidden;}
.main_top .top_link .item{float:left; margin:7px;}
.main_top .top_link a{display:block; width:120px; height:120px; padding-top:40px; color:#fff; text-align: center; border-radius:50%; font-size:16px;}
.main_top .top_link .item:nth-of-type(1) a{background:#4e7bb7; padding-top:50px;}
.main_top .top_link .item:nth-of-type(2) a{background:#b9d660;}
.main_top .top_link .item:nth-of-type(3) a{background:#de768e;}
.main_top .top_link .item:nth-of-type(4) a{background:#e9aa5b;}
.main_top .top_link .item:nth-of-type(5) a{background:#53b5bb; padding-top:50px;}
.main_top .top_link .item:nth-of-type(6) a{background:#b977cc;}
.main_top .top_link .links{display:block;}

.recentlyBoard{padding:50px 0;}
.recentlyBoard .tit_board{margin-bottom:20px; font-size:20px; font-weight:700; color:#151515;}
.recentlyBoard .inner>div{float:left;}
.recentlyBoard .box_board{position:relative;}
.recentlyBoard .notice{width:380px; margin-right:50px;}
.recentlyBoard .notice li{font-size:14px; color:#8d8d8d;}
.recentlyBoard .notice li+li{margin-top:15px;}
.recentlyBoard .notice li span{display:inline-block; width:315px;}
.recentlyBoard .notice li span img{vertical-align: middle;}
.recentlyBoard .notice li a{color:#3f3f3f;}
.recentlyBoard .event{width:370px; margin-right:40px;}
.recentlyBoard .event li{font-size:14px; color:#3f3f3f;}
.recentlyBoard .event li+li{margin-top:15px;}
.recentlyBoard .event li a{display: block; margin-bottom:5px; font-weight:700; color:#e8235b;}
.recentlyBoard .btn_more{position:absolute; top:0; right:0;}
.recentlyBoard .jounal{width:260px; height:198px; padding:110px 0 0 120px; background:url(../images/bg_jsm.jpg) no-repeat top left;}
.recentlyBoard .jounal a{display:inline-block;position: relative;width:110px;padding:5px;font-size:13px; color:#fff;}
.recentlyBoard .jounal a+a{margin-top:5px;}
.recentlyBoard .jounal a:hover{padding:4px; border:1px solid #b2d3ff;}
.recentlyBoard .jounal a:after{content:""; display:inline-block; width:5px; height:7px; margin-left:20px; background:url(../images/ico_arrow.png) no-repeat top left; vertical-align: middle;}
.recentlyBoard .jounal a+a:after{margin-left:25px;}

.main_link{padding:30px 0; border-top: 1px solid #dce5f0; border-bottom: 1px solid #dce5f0; background:#f0f3f7;}
.main_link .inner{overflow:hidden;}
.main_link a{display:inline-block; float:left; width:168px; height:130px; padding-top:15px; border:1px solid #7dadec; background-repeat:no-repeat; background-position:center 65px; text-align:center; font-size:17px; font-weight:700; color:#2d2d2d;}
.main_link a+a{margin-left:18px;}
.main_link a span{display:block; font-size:13px;}
.main_link a:nth-of-type(1){background-image:url(../images/ico_mainlink01.gif);}
.main_link a:nth-of-type(2){background-image:url(../images/ico_mainlink02.gif);}
.main_link a:nth-of-type(3){background-image:url(../images/ico_mainlink03.gif);}
.main_link a:nth-of-type(4){background-image:url(../images/ico_mainlink04.gif);}
.main_link a:nth-of-type(5){background-image:url(../images/ico_mainlink05.gif);}
.main_link a:nth-of-type(6){background-image:url(../images/ico_mainlink06.gif);}

/* popup */
.popup{display:none;position:absolute; top:0; left:0;z-index:1000;}
.popup .popup_inner{background: #fff;}
#hospital{left:50%; width:580px; margin-left:-290px; border:2px solid #3c3c3c;}
#hospital .popup_inner{padding:35px;}

#pop_receipt{left:50%; width:580px; margin-left:-290px; border:2px solid #3c3c3c;}
#pop_receipt .popup_inner{padding:35px;}
#pop_receipt .receipt{padding:40px; border:1px solid #3c3c3c;text-align:center;font-size:16px;}
#pop_receipt .receipt h3{font-size:26px; font-weight:700;}
#pop_receipt .receipt .fee{margin:30px 0 20px 0; padding:10px; background:#f5f5f5; text-align: center; font-size:18px; font-weight:700;}
#pop_receipt .receipt .info01{margin-top:45px;text-align: left;}
#pop_receipt .receipt .info01 span{font-size:16px; text-decoration: underline;}
#pop_receipt .receipt .info01 span+span{float:right;}
#pop_receipt .receipt .info02{text-decoration: underline;}
#pop_receipt .receipt .info03{margin-top:40px;}
#pop_receipt .receipt .info04{margin-top:15px;}
#pop_receipt .receipt .info05{margin-top:40px; font-size:20px; font-weight:700}

/* header */
header .inner{padding:30px 0;}
header h1{text-align:center;}
header h1 a{display: inline-block; width:192px; height:52px; background-position: 0 0;}
header .btn_openGnb{display: none;}

/* gnb */
.menu{position:relative;border-top:1px solid #dfdfdf;z-index:10;}
.menu .util{position:absolute;top: -50px;right: 0;}
.menu .util a{font-size:13px; color: #909090; letter-spacing: -0.01em;}
.menu .util a+a{margin-left:20px;}
.menu .util .myInfo{display:none;}
.menu .btn_openGnb{display: none;}
.menu .gnb>li{position:relative;float:left;letter-spacing: -0.08em;}
.menu .gnb>li>a{display: inline-block;padding:20px 37px; font-size: 18px; color:#303030; }
.menu .gnb>li+li>a{background: url(../images/bg_gnb.gif) no-repeat left center;}
.menu .gnb .depth02{display:none;position:absolute; top:64px; left:0; padding:30px 50px 30px 40px; border:1px solid #356db6; background:#fff; box-shadow: 0 2px 6px rgba(0,0,0,0.15);}
.menu .gnb .depth02 li+li{margin-top:15px;}
.menu .gnb .depth02 a{font-size: 15px; color:#303030; white-space: nowrap;}
.menu .gnb .last{left:inherit;right:0;}
.menu .gnb>li:hover>a{background:#356db6;color:#fff;}
.menu .gnb .depth03{display:none;}
.btn_closeGnb{display:none;}

/* footer */
footer{border-top:1px solid #dfdfdf;}
footer .f_logo{position:absolute;top:50px;left:0;width: 136px; height:37px; background-position:0 -60px;}
footer .inner{padding:30px 0 30px 175px; font-size:13px;}
footer .link a{color:#0c4da2; letter-spacing: -0.075em; line-height: 1;}
footer .link a+a{margin-left:15px; padding-left:15px; border-left:1px solid #0c4da2; color:#0c4da2;}
footer address{margin-top:15px;color:#a6a6a6; line-height:150%;}

/* contents */
section{border-top:1px solid #356db6;}
section .inner{overflow:hidden;}
section .left{float:left;width:220px;}
section .right{float:right;width:830px;}

/* contents title background */
.bg_board{background: url(../images/bg_board.jpg) no-repeat center top;}
.bg_board h2{background: url(../images/bg_board_tit.jpg) no-repeat center top;}

/* contents title */
.box_tit{height:129px; letter-spacing: -0.08em;}
.box_tit h2{height:130px; font-size:22px; color:#fff; text-align: center; line-height: 130px; font-weight: 400;}
.box_tit h3{margin:35px 0 15px 0;font-size:40px; color:#1a1a1a; line-height: 1;}
.box_tit h3 span{font-size:28px; font-weight: 400; vertical-align: baseline;}
.box_tit .location{font-size:12px; color:#737373}
.box_tit .location .home{display: inline-block;width:12px;height:11px;vertical-align: text-top;background-position:-180px -60px;}
.box_tit .options{display:inline-block;margin-left:20px;overflow: hidden;}
.box_tit .options a{display:inline-block; float:left;}
.box_tit .options .zoomIn{width:18px; height:18px; background-position: -200px -50px;}
.box_tit .options .zoomOut{width:18px; height:18px; background-position: -220px -50px;}
.box_tit .options .print{width:19px; height:18px; background-position: -240px -50px;}

/* lnb */
.lnb{margin-bottom:50px;}
.lnb>li{border:1px solid #d0d0d0; border-top:0;}
.lnb>li>a{display:block; padding:15px 30px;; font-size:16px; color:#303030;}
.lnb .depth03{display: none; padding:10px 0; background: #ebf2fa;}
.lnb .depth03 a{display:inline-block;margin:7px 20px; padding-left:10px; color:#303030; letter-spacing: -0.088em; font-size:15px; text-indent: -10px;}
.lnb .is-selected{border-bottom:1px solid #0c4da2;}
.lnb .is-selected>a{position:relative; color: #0c4da2;}
.lnb .is-selected>a:after{content:""; display:inline-block; position:absolute; top:22px; right:20px; width:5px; height:7px; background:url(../images/sprites.png) no-repeat -200px -70px}
.lnb .is-selected .depth03{display: block;}
.lnb .is-selected .on a{text-decoration:underline; font-weight: 700;}

/* contents */
.contents .right{margin-top:70px; margin-bottom:80px;}

/* table - common */
.tbl{font-size: 14px;}
.tbl th{border-bottom:1px solid #d0d0d0; background: #f5f5f5;font-weight:400;}
.tbl td{border-bottom:1px solid #d0d0d0;}
.tbl a{color:#2f2f2f;}
.tbl .nodata{text-align: center;}

/* table - list */
.tbl_list{table-layout: fixed;}
.tbl_list th{padding:15px 0;border-top:1px solid #d0d0d0;font-size:15px;}
.tbl_list td{padding:18px 0; text-align:center; vertical-align:middle;}
.tbl_list .tit{text-align: left;}
.tbl_list .tit a{display: inline-block;max-width:100%;color:#2f2f2f;}
.tbl_list .tit a.ellipsis{max-width:90%;}
.tbl_list .btn_admin a{display: inline-block;line-height: 1;}
.tbl_list .btn_admin a+a{margin-left:5px;padding-left:5px;border-left:1px solid #989898;}
.tbl_list .link{color:#007ed6; text-decoration: underline;}
.ico_notice{display: inline-block;padding:2px 5px 3px 5px;border-radius:3px; background:#e8235b;font-size:13px; color:#fff; letter-spacing: -0.03em; line-height: 1;font-weight:400;}

.board_count{margin-bottom:15px; font-size:15px; letter-spacing: -0.01em;}

/* table - view */
.tbl_view{table-layout: fixed;}
.tbl_view th{padding:15px 20px; border-top:1px solid #757575; text-align:left; font-size:14px; color:#9e9e9e;}
.tbl_view th strong{display:block; margin-bottom:10px; font-size:15px; color:#2f2f2f;}
.tbl_view td{padding:20px; text-align:left; font-size:14px; line-height:150%;}
.tbl_view .files{padding:15px 20px;}
.tbl_view .files a{color:#2f2f2f;}
.tbl_view .files .file{color:#2f2f2f;}
.tbl_view .files .file:after{content:""; display:inline-block;width:16px; height:13px; margin-left:5px; background: url(../images/sprites.png) no-repeat -140px -80px;vertical-align: middle;}

/* table - write */
.tbl_write{table-layout: fixed;border-top:1px solid #757575;}
.tbl_write th{padding:15px 0;border-bottom:1px solid #d0d0d0; vertical-align: middle;}
.tbl_write td{padding:5px 10px;border-bottom:1px solid #d0d0d0; vertical-align: middle;}
.tbl_write td select,.tbl_write td input[type="text"],.tbl_write td input[type="password"]{height:37px;font-size: 14px;}
.tbl_write .addFile th,.tbl_write .addFile td{border-top:1px solid #757575;}
.tbl_write .box_editor{padding:20px 0;}
.tbl_write .innerTable{padding:0;}
.tbl_write .innerTable table{border-top:0;}
.tbl_write .innerTable table th,.tbl_write .innerTable table td{border-bottom:0;border-top:1px solid #d0d0d0;}
.tbl_write .innerTable tr:first-child th,.tbl_write .innerTable  tr:first-child td{border-top:0;}
.tbl_write .innerTable .btn{height:30px; line-height:30px;}
.tbl_write .innerTable input[type="radio"]+label{margin:0 10px 0 5px;}
.tbl_write .innerTable span{display: inline-block; vertical-align: middle;}
.addFile{overflow:hidden;}
.addFile .files{float:left; width:90%; padding:30px 0; border:1px solid #d0d0d0; font-size:14px; color:#9d9d9d; text-align:center;}
.addFile .btn_del_file{display:inline-block;float:left; width:10%;  padding:30px 0; border:1px solid #d0d0d0; background:#f9f9f9; font-size:14px; color:#2f2f2f; text-align:center;}
.addFile .files+.btn_del_file{border-left:0;}

.chk_onoff{display:inline-block; position:relative;}
.chk_onoff input{position:absolute; top:0; left:0; width:0; height:0; opacity:0;}
.chk_onoff label{display:inline-block; position:relative; width:75px; height:26px; padding:2px; border:1px solid #d0d0d0; border-radius:20px; z-index:1;}
.chk_onoff label:before{content:"ON"; display:inline-block; width:30px; margin-left:0; line-height: 20px; font-size:11px; color:#929292; letter-spacing:-0.05em; font-weight:bold; text-align:center;}
.chk_onoff label:after{content:"OFF"; display:inline-block; position:absolute; top:2px; left:31px; width:40px; height:20px; border-radius:20px; background:#2b2b2b; color:#fff; font-weight: bold; letter-spacing:-0.05em; text-align:center; font-size:11px;line-height: 20px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.chk_onoff input:checked+label:after{content:"ON";left:2px; background:#e8235b;}
.chk_onoff input:checked+label:before{content:"OFF"; margin-left:37px;}

/* table - standard */
.tbl_fix{table-layout: fixed;border-top:1px solid #757575; font-size: 14px;}
.tbl_fix th{padding:15px 0;border-bottom:1px solid #d0d0d0; vertical-align: middle; background: #f5f5f5;font-weight:400;}
.tbl_fix td{padding:5px 10px;border-bottom:1px solid #d0d0d0; vertical-align: middle;}
.tbl_fix td select,.tbl_fix td input[type="text"],.tbl_fix td input[type="password"]{height:37px;font-size: 14px;}
.tbl_fix .addFile th,.tbl_fix .addFile td{border-top:1px solid #757575;}
.tbl_fix .box_editor{padding:20px 0;}

.thesis_data span{display: inline-block;}
.thesis_data span+span{margin-left:10px;}
.thesis_data input{width:100px; vertical-align: middle;}
.thesis_data b{font-weight: normal;vertical-align: middle;}

/* table - member */
.tbl_member{table-layout: fixed;border-top:1px solid #757575;}
.tbl_member th{padding:15px 0 15px 20px;border-bottom:1px solid #d0d0d0; vertical-align: middle; text-align:left;}
.tbl_member td{padding:5px 10px;border-bottom:1px solid #d0d0d0; vertical-align: middle;}
.tbl_member td select,.tbl_member td input[type="text"],.tbl_member td input[type="password"]{height:37px;font-size: 14px;}
.tbl_member .btn_black{width:auto;height:37px;padding:0 14px;font-size: 12px;line-height: 37px;}
.tbl_topInfo{margin-bottom:10px;text-align:right; font-size:13px;}
.txt_point{display: inline-block;padding-left:5px;text-indent:-5px;font-size:12px; color:#e8235b; line-height: 150%; vertical-align: middle;}

.tbl_agree{border-top:1px solid #757575;}
.tbl_agree th{padding:15px 0 15px 20px; text-align: left; vertical-align: middle;}
.tbl_agree td{padding:10px; line-height:150%;}

/* paging */
.pagingWrap{margin-top:30px; text-align:center;}
.paging{display:inline-block; overflow:hidden;}
.paging a{display:inline-block; float:left; width:33px; height:33px; border:1px solid #ddd; font-size:15px; color:#404040; text-align:center; line-height:33px;}
.paging .is-selected{border:1px solid #356db6; color:#356db6;}
.paging a img{margin-top:13px;}
.paging a+a,
.paging span a,
.paging span+a{border-left:0;}

/* button */
.btn{display:inline-block;width:70px;height:40px;line-height: 40px;font-size:15px;text-align: center;}
.btn_blue{background:#356db6;color:#fff !important;}
.btn_gray{background:#b4b4b4;color:#fff !important;}
.btn_black{background:#424242;color:#fff !important;}
.btn_red{border:1px solid #e8235b; background:#fff2f6; color:#303030 !important;}

.btnArea{margin-top:30px; text-align:right;}
.btnArea .btn+.btn{margin-left:10px;}
.btnArea.center{text-align:center;}
.btnArea.center .btn{width:150px;}
.btnArea.center .btn+.btn{margin-left:20px;}

.btnPaging{float:right; margin-top:20px;}

/* 검색 */
.box_search{float:right; margin-bottom:15px; overflow: hidden;}
.box_search:after{content:"";display: block;clear: both;}
.box_search input{float: left;width:200px;height:40px;}
.box_search a{float: left;}
.box_search+.board_count{float: left; margin:15px 0 0 0;}

/* 댓글 */
.box_reply .id{display:inline-block;min-width:200px; margin-bottom:10px; padding:10px 15px; border:1px solid #d0d0d0; background:#f9f9f9; font-size:14px; color:#9d9d9d;}
.box_reply .box_write{position: relative;padding-right:90px;}
.box_reply .box_write textarea{width:100%; height:60px; font-size:14px; line-height: 120%;}
.box_reply .box_write a{display: block;position:absolute; top:0; right:0; width:90px; height:60px; border:1px solid #d0d0d0; border-left:0; background: #f9f9f9;text-align: center;font-size:15px; line-height: 60px; color: #2f2f2f;}
.tbl_reply{margin-top:20px;}
.tbl_reply td{padding:20px 0; border-bottom:1px solid #d0d0d0;}
.tbl_reply .userImage{display:inline-block;width:64px; height:64px; background-position:-320px -130px;}
.tbl_reply .reply{position: relative;padding-top:30px;padding-right:80px;}
.tbl_reply .reply strong{font-size:15px; color:#356db6;}
.tbl_reply .reply p{font-size:14px;}
.tbl_reply .btns{position:absolute; top:50px; right:0; width:80px; text-align:center;}
.tbl_reply .btns a{display: inline-block; width:14px; height:16px;}
.tbl_reply .btns a+a{margin-left:10px;}
.tbl_reply .btn_modify{background-position:-180px -80px;}
.tbl_reply .btn_del{background-position:-160px -80px;}

/* 회원 검색 */
.memberSearch{margin-bottom:20px; padding:30px 140px; border:4px solid #ebf2fa;}
.memberSearch p{margin-bottom:20px; padding-left:75px; background:url(../images/img_member_search.gif) no-repeat top left; font-size:14px; color:#2f2f2f; line-height:150%;}
.memberSearch p strong{font-size:16px; color:#0c4da2;}
.memberSearch input{width:180px; height:40px; margin-right:5px;}
.memberSearch .btn{width:100px;}

/* 회원가입 */
.tab_joinstep{margin-bottom:40px; overflow: hidden;}
.tab_joinstep li{position:relative;float:left;width:250px;padding:15px 0;border:4px solid #00a6e4; font-size:15px; text-align: center; color: #707070;}
.tab_joinstep li+li{margin-left:40px;}
.tab_joinstep li+li:before{content:""; display:block; position:absolute; top:22px; left:-30px; width:14px; height:24px; background: url(../images/ico_nextStep.gif) no-repeat top left;}
.tab_joinstep li strong{display: block;}
.tab_joinstep .is-selected{background:#00a6e4; color:#fff;}
.tab_joinstep li:nth-of-type(2){border-color: #4380cf;}
.tab_joinstep li:nth-of-type(3){border-color: #0d4186;}
.tab_joinstep .is-selected:nth-of-type(2){background-color:#4380cf;}
.tab_joinstep .is-selected:nth-of-type(3){background-color:#0d4186;}

/* title type */
.tit_page{margin-bottom:30px; padding-bottom:20px; border-bottom:1px solid #d0d0d0; font-size:20px; color:#1a1a1a;}
.arrow_right{float:right; width:auto; height:auto; margin-top:-80px; padding:10px 30px; line-height:1;}
.arrow_right:after{content:""; display:inline-block; width:13px; height:7px; margin-left:10px; background:url(../images/ico_arrowRed.png) no-repeat top left; vertical-align: middle;}

/* bullet */
.bulletBox{margin:15px 0 20px 0; padding:10px 15px; border:2px solid #356db6; font-weight: normal; font-size: 17px;}
.bulletBox:before{content:""; display:inline-block; width:18px; height:18px; margin-right:10px; background: url(../images/sprites.png) no-repeat -260px -170px; vertical-align: middle;}
.bulletBox span{font-size:13px; vertical-align: baseline;}

/* 회원가입 약관동의 */
.box_terms{border:1px solid #d0d0d0;}
.box_terms pre{height:180px; padding:30px; border-bottom:1px solid #d0d0d0; background:#f7f7f7; font-size:15px; color:#454545; overflow-y:auto; white-space: pre-wrap; line-height: 170%;}
.box_terms span{display: block; padding: 10px 0; text-align: center; font-size:15px;}
.box_terms span label+input{margin-left:50px;}
.box_terms+.bulletBox{margin-top:40px;}

/* 가입완료 */
.complateJoin{text-align: center; font-size:15px;}
.complateJoin div{width:400px; margin:70px auto 40px auto; padding:20px 120px; background:#ebf2fa;text-align:left; line-height: 200%;}
.complateJoin div strong{color:#356db6;}
.complateJoin>strong{display: block; margin-bottom:20px; font-size:30px; color:#356db6; font-weight: normal;}

/* 행사일정 */
.tbl_event th{padding:15px 0; border-top:1px solid #d0d0d0; background:#f5f5f5; font-size:15px;}
.tbl_event td{padding:15px 0; font-size:14px; vertical-align: middle;}
.tbl_event .month{background:#ebf2fa; color:#1f66c2; font-weight: 700;text-align: center;}
.tbl_event .nodata{text-align: center;}
.tbl_event .tit{padding-left:20px; padding-right:10px;}
.tbl_event .tit a{color:#2f2f2f;}
.tbl_event .tbl_btn{padding:5px 0;text-align:center;}

.btn_inner{font-size:12px; text-align:center;}
.black{background: #424242; color:#fff !important;}

.bottom_search{margin-top:20px; overflow: hidden;}
.bottom_search .box_search{display:inline-block;float:left; margin:0;}
.bottom_search .box_search input{width:300px;}
.bottom_search .btnArea{display:inline-block;float:right; margin:0;}

.calendar_tab{margin-bottom:20px; overflow: hidden;text-align:right;}
.calendar_tab .btnArea{float:left;margin:0;}
.calendar_tab .btnArea a{width:auto;padding:0 25px;}
.calendar_tab .btnArea .btn+.btn{margin-left:5px;}
.calendar_tab .btnArea .is-selected{background:#e8235b;}
.calendar_tab select{width:130px; height:40px;}
.ico_list:before{content:"";display:inline-block;width:16px;height:14px;margin-right:10px;background:url(../images/ico_list.png) no-repeat top left;vertical-align: middle;}
.ico_calendar:before{content:"";display:inline-block;width:16px;height:16px;margin-right:10px;background:url(../images/ico_calendar.png) no-repeat top left;vertical-align: middle;}

/* full calendar */
.fc th{padding:14px 0 !important; font-size:14px; font-weight: normal;}
.fc td{font-size:14px;}
.fc-header-toolbar{position:relative;}
.fc-toolbar .fc-left{float:none !important;}
.fc-header-toolbar h2{width:100% !important; text-align:center !important; font-size:34px !important; font-weight: 400;}
.fc-basic-view .fc-week-number, .fc-basic-view .fc-day-number{padding:2px 10px !important;}
.fc-today-button{position:absolute !important; top:10px !important; left:0 !important; float:none !important; width:65px !important; height:auto !important; padding:7px 0 !important; border:2px solid #b6b6b6 !important; border-radius:30px !important; background:#fff !important;font-size:14px !important; letter-spacing: -0.05em !important;line-height:1 !important;}
.fc-prev-button{float:none !important;width:32px !important; height:32px !important; background:url(../images/btn_cal_prev.png) no-repeat top left !important; border:0 !important; border-radius:0 !important; box-shadow:none !important;}
.fc-prev-button span:after{display:none !important;}
.fc-next-button{float:none !important; width:32px !important; height:32px !important; margin-left:200px !important; background:url(../images/btn_cal_next.png) no-repeat top left !important; border:0 !important; border-radius:0 !important; box-shadow:none !important;}
.fc-next-button span:after{display:none !important;}
.fc-button-group{position:absolute !important; top:10px !important; left:0 !important; width:100% !important; margin:0 !important; text-align:center;}

/* datepicker */
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{width:30% !important; margin-left:10px !important; font-size:14px !important;}
.ui-datepicker-trigger{margin-left:5px !important;}

/* 학술행사 연혁 */
.tbl_history{border-top:1px solid #d0d0d0;}
.tbl_history td{padding:30px 0; vertical-align:middle;}
.tbl_history td dt{margin-bottom:20px;}
.tbl_history td dt a{color:#1f66c2; font-weight: 700; font-size:15px;}
.tbl_history td dd{line-height:180%;}
.tbl_history .tbl_btn{text-align:right;}
.tbl_history .tbl_btn a{width:80px; margin:5px 0;}

/* 병원 찾기 */
.m_tbl_find .tit a{font-weight: 700; color:#356db6;}

.find_hospital{padding:30px 90px;}
.find_hospital p{height:62px; padding-top:10px; padding-left:110px; background:url(../images/img_hospital_search.gif) no-repeat center left;}
.find_hospital input{width:200px; font-size:14px;}
.find_hospital select{width:140px; height:40px; font-size:14px;}

/* 비밀번호 변경 */
.changePassword{padding:30px 165px;}
.changePassword p{height:68px; margin-left:30px; padding-top:10px; padding-left:70px; background:url(../images/ico_change_password.gif) no-repeat center left; color:#0c4da2; font-size:16px;}
.changePassword input{width:100%; font-size:14px;}
.changePassword input+input{margin-top:10px;}
.txt_changePassword{padding-left:10px; text-indent:-10px;font-size:14px; color:#303030; line-height:150%;}
.txt_changePassword li{margin-top:20px;}

/* 회원탈퇴 */
.withdrawal{padding:30px 80px;}
.withdrawal p{padding-top:0; padding-left:80px; background:url(../images/ico_withdrawal.gif) no-repeat center left; color:#0c4da2; font-size:16px;}
.withdrawal .tbl_fix{margin-top:10px;}
.withdrawal .tbl_fix td{padding:15px 0;text-align:center;}

/* faq */
.tit_faq{display:block; position:relative; padding:10px 80px 10px 10px; border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0; font-size:15px;}
.tit_faq>a{display:inline-block; padding-left:35px; color:#2f2f2f; text-indent:-25px;}
.tit_faq>a:before{content:""; display:inline-block; width:22px; height:22px; margin-right:5px; background: url(../images/bullet_faq.png) no-repeat top left;}
.tit_faq span{display:inline-block;position:absolute; top:15px; right:10px;}
.tit_faq span a{display:inline-block;height:14px; font-size:14px; line-height:95%;}
.tit_faq span a+a{margin-left:5px; padding-left:5px; border-left:1px solid #8d9196;}
.faq_detail{display:none;padding:30px 10px;border-bottom:1px solid #d0d0d0;}
.faq_detail p{line-height: 150%; font-size:15px;}
.faq_detail p+p{margin-top:35px;}
.faq_item+.faq_item .tit_faq{border-top:0;}
.tit_faq.is-opened{border-top:1px solid #356db6 !important; border-bottom:1px solid #356db6; background:#ebf2fa;}
.tit_faq.is-opened>a{color:#356db6; font-weight:700;}

.faq_search{padding:30px 160px;}
.faq_search p{height:64px; margin-left:100px; padding-top:10px; background-image:url(../images/img_faq_search.gif);}
.faq_search input{width:380px;}

/* 자가진단 */
.btns_selfTest{text-align:center;}
.btns_selfTest a{display: inline-block; width:220px; height:220px; padding-top:40px; border-width:10px; border-style:solid; font-size:22px; line-height:32px; text-align: center;color:#fff;}
.btns_selfTest a+a{margin-left:30px;}
.btns_selfTest a:after{content:""; display: block; height:28px; margin-top:15px; background:url(../images/ico_selftest.png) no-repeat center top;}
.btns_selfTest .btn_selfTest01{border-color: #356db6; background:#356db6; }
.btns_selfTest .btn_selfTest02{border-color: #0ba6a4; background:#0ba6a4;}
.btns_selfTest .btn_selfTest03{border-color: #60b42d; background:#60b42d;}

/* 자가진단 팝업 */
.pop_self{left:50%; margin-top:10px; margin-left:-350px;}
.pop_self .close_popup{position:absolute; top:10px; right:20px; color:#fff;font-size: 18px;}
.pop_self .close_popup img{vertical-align: middle;}
.pop_self .tit_test{font-size:32px; font-weight: 700; text-align: center; color:#1a1a1a; letter-spacing: -0.08em;}
.pop_self .result{margin-top:10px; padding:15px 25px; border:1px solid #356db6; background: #eff6fe; font-size:15px;}
.pop_self .result span{font-weight: 700; color:#326ab3;}
.pop_self .result_guide{margin-top:20px; padding:20px 60px; border:1px solid #e8235b; background:#fff3f6;}
.pop_self .result_guide p{display:inline-block; width:100px; height:100px; border-radius:50%; background:#e8235b; text-align:center;line-height: 100px;color:#fff; font-weight: 700; vertical-align: middle;}
.pop_self .result_guide ul{display:inline-block; margin-left:60px; vertical-align: middle;}
.pop_self .result_guide ul li{margin:5px 0;font-size: 15px;}
.pop_self .tbl_test{margin-top:20px; font-size:14px;}
.pop_self .tbl_test th{padding:5px 0; border:1px solid #d4d4d4; vertical-align: middle; font-weight: 400;}
.pop_self .tbl_test td{padding:5px; border:1px solid #d4d4d4; text-align:center;}
.pop_self .tbl_test td:first-child{text-align: left;}

#self01 .popup_inner{position:relative; width:700px; height:890px; padding:80px 60px 60px 60px; background:url(../images/bg_self01.png) no-repeat top left;}
#self01 .desc{height:33px; margin-top:15px; background:url(../images/txt_self01.jpg) no-repeat center top; font-size:0; text-indent:-999999px;}
#self01 .test_guide{margin-top:20px; padding:20px 0 20px 50px; border:1px solid #d4d4d4; background:#f1f1f1;font-size:15px;}
#self01 .test_guide p{display:inline-block;font-weight:bold;vertical-align: middle;}
#self01 .test_guide ul{display:inline-block; width:330px;margin-left:45px; overflow: hidden;vertical-align: middle;}
#self01 .test_guide ul li{float:left; width:50%;margin:3px 0;}
#self01 .addInfo{margin-top:10px;text-align: right;font-size:15px;}

#self02 .popup_inner{position:relative; width:700px; height:950px; padding:80px 60px 60px 60px; background:url(../images/bg_self02.png) no-repeat top left;}
#self02 .test_guide{margin-top:20px; padding:10px 0; border:1px solid #d4d4d4; background:#f1f1f1;font-size:15px;}
#self02 .test_guide ul{text-align: center;}
#self02 .test_guide ul li{display: inline-block; margin:0 5px;}
#self02 .addInfo{margin-top:10px;text-align: right;font-size:15px;}
#self02 .question{margin:15px 0 10px 0;font-weight: 700; font-size:14px;color:#08a3a1;}
#self02 .distractor{overflow: hidden;}
#self02 .distractor li{float:left;}
#self02 .distractor li+li{margin-left:20px;}
#self02 .distractor li label{margin-right:5px;font-size:14px; color:#1a1a1a; letter-spacing: -0.05em; cursor:pointer;}
#self02 .distractor li input{vertical-align: text-bottom;}
#self02 .result{margin-top:20px;}
#self02 .tbl_test{margin-top:0;}

#self03 .popup_inner{position:relative; width:700px; height:797px; padding:80px 60px 60px 60px; background:url(../images/bg_self03.png) no-repeat top left;}
#self03 .txt{margin-top:35px;}
#self03 .txt+.txt{margin-top:20px;}
#self03 .txt strong{display:inline-block; width:100px; height:100px; border-radius: 50%; text-align:center; vertical-align: middle; line-height: 100px; font-size:30px; color:#fff; font-weight: normal;}
#self03 .txt .bg01{background:#60b42d;}
#self03 .txt .bg02{background:#2db437;}
#self03 .txt .bg03{background:#2db46d;}
#self03 .txt .bg04{background:#2db486;}
#self03 .txt p{display:inline-block; width:450px; margin-left:20px; vertical-align: middle; font-size:15px; line-height: 26px; letter-spacing: -0.075em;}
#self03 .conclusion{margin-top:30px; padding-top:30px; border-top:1px solid #58ac25; text-align:center; font-size:22px; line-height: 32px;}
#self03 .conclusion strong{color:#58ac25;}

/* 공지팝업 */
.noticePopup .tit{padding:20px 0; background:#ea3266; color:#fff; text-align:center; font-size:20px; font-weight:bold; line-height: 1;}
.noticePopup .bottom{padding:5px 10px 10px 10px; background:#ececec; color:#4e4e4e; text-align:right; font-size:14px; line-height: 1;}
.noticePopup .bottom a{vertical-align: middle; line-height: 1;color:#4e4e4e;}
.noticePopup .bottom label,.noticePopup .bottom input{vertical-align: middle; line-height: 1;}
.noticePopup .popCont{height:100%;padding:20px; font-size:15px;}
.noticePopup .popCont .txtBox{max-height:50%; margin-bottom:20px; overflow-y:auto; line-height: 180%;}
.noticePopup .popCont .download a{text-align:center;color:#4e4e4e;}
.noticePopup .popCont .download img{margin-left:5px;vertical-align: middle;}
.noticePopup .popCont .link{margin-top:5px;}
.noticePopup .popCont .link a{text-decoration: underline; color:#1081e1;}
.noticePopup .popCont .btn_detail{display:block; width:150px; margin:30px auto 0 auto; padding:10px 0; border:1px solid #363636; font-size:16px; color:#323232; text-align: center;}

/* login */
.login{padding:60px 0; border:10px solid #ebf2fa; text-align: center;}
.login p{width:590px; margin:0 auto; color:#356db6; font-size: 15px; line-height: 24px; text-align: left;}
.login p strong{display:inline-block; font-size: 50px; vertical-align: middle;}
.login p strong img{margin-right:15px; vertical-align: baseline;}
.login p span{display:inline-block; margin-left:20px; vertical-align: middle;}
.login+p{margin-top: 20px;font-size:15px; text-align: center;}
.login .inputBox{position: relative; top:0; left:0; width:535px; margin:60px auto; text-align: left;}
.login .inputBox span{display: block;}
.login .inputBox span+span{margin-top:10px;}
.login .inputBox label{display: inline-block; width:75px; vertical-align: middle; font-size: 16px;}
.login .inputBox input{width:300px;height:40px; border:1px solid #d0d0d0;}
.login .inputBox a{display: block; position: absolute; top:0; right:0; width:150px; height:100%; background:#356db6; color:#fff; font-size:20px; font-weight: 700; text-align:center; line-height: 90px;}
.btn_border{width:160px; border:1px solid #303030; color:#303030;}

/* 아이디 비밀번호 찾기 */
.find_info{padding:30px 0 30px 140px; border:10px solid #ebf2fa; background:url(../images/ico_find_pw.gif) no-repeat 50px center;}
.find_info span{display: block;}
.find_info span+span{margin-top:10px;}
.find_info label{display: inline-block; width:100px; vertical-align: middle;}
.find_info input{width:300px;height:40px; border:1px solid #d0d0d0;}
.find_info strong{font-size:13px; font-weight:400; vertical-align: middle;}

/* 학회소개 */
.greeting img{vertical-align: bottom}
.greeting p span{display:inline-block;margin-left: 30px;vertical-align: bottom;font-size:25px; line-height:40px;}
.greeting p span strong{color:#0c4da2;font-weight:400;}
.greeting p+p{margin-top:40px;}
.greeting .writer{text-align:right;font-size:18px; font-weight:700;}

/* 연혁 */
.tbl_history02{border-top:1px solid #d0d0d0;font-size:15px; line-height:22px;}
.tbl_history02 th{padding:15px 15px 15px 20px; border-bottom:1px solid #d0d0d0;background: #ebf2fa; color:#356db6;vertical-align: middle; font-weight:400; text-align:left;}
.tbl_history02 td{padding:15px 15px 15px 20px; border-bottom:1px solid #d0d0d0;}

/* 임원 */
.tbl_executive{border-top:1px solid #d0d0d0;font-size:14px;}
.tbl_executive th{padding:15px 0;border-bottom:1px solid #d0d0d0;vertical-align: middle;}
.tbl_executive td{padding:15px 10px;border-bottom:1px solid #d0d0d0; text-align:center;}
.tbl_executive thead th{background:#f5f5f5; font-weight:400;}
.tbl_executive tbody th{background:#ebf2fa; color:#1f66c2;}

/* 회원가입안내 */
.top_txt_box{padding:30px;border:4px solid #ebf2fa;font-size:15px;color:#2f2f2f;line-height:26px;}
.top_txt_box strong{color:#356db6;}
.top_txt_box .red{color:#e8235b; font-weight:400;}

.tbl_blue{font-size:15px; line-height:24px; color:#303030;}
.tbl_blue th{padding:25px 0;border-bottom:1px solid #fff; vertical-align: middle;color:#fff;background: #356db6;}
.tbl_blue td{padding:0 20px;border-bottom:1px solid #fff;background: #ecf3fd;vertical-align: middle;}

.mgt20{margin-top:20px;}
.list_indent>li+li{margin-top:10px;}
.list_indent ul{margin:10px 0 0 15px;}
.bullet_arrow:before{content:"";display:inline-block; width:9px; height:7px; margin-right:6px; background:url(../images/bullet_arrow.gif) no-repeat top left; vertical-align: middle;}
.joinGuide .bulletBox{margin-top:30px;}

/* 사무국안내 */
.officeInfo li+li{margin-top:10px;}
.officeInfo strong{display: inline-block;width:85px;}
.google-map{margin-top:20px;}
.traffic{position:relative; padding-left:120px;}
.traffic img{position:absolute; top:0; left:0;}

.txt_rule{padding:15px; font-size:15px;color:#454545; line-height:26px;}
.txt_rule+.txt_rule{border-top:1px dashed #b9b9b9; }
.ver{height:100px; padding:15px;border:4px solid #ebf2fa; font-size:14px; line-height:150%;text-align:right; overflow-y: auto;}

/* 회비납부내역 */
.tbl_fee td{text-align:center;}
.tbl_blue_fee th{vertical-align: middle; color:#fff;font-size:17px;}
.tbl_blue_fee td{padding:20px;vertical-align: middle;font-size:15px;}
.tit_blue01{background:#356db6;}
.tit_blue02{background:#2b5ea9;}
.txt_blue01{background:#ecf3fd;}
.txt_blue02{background:#dae8fc;}

/* 개인정보취급방침 */
.terms_box{padding:15px;border:4px solid #ebf2fa; font-size:14px; line-height:180%;}

/* 이메일 무단 수집 거부 */
.tit_popup{padding:10px 0;background:#ebf2fa; font-size:20px; text-align:center;}

@media all and (max-width:1024px){/*tablet*/
	/* prevent iphone bouce */
	html,body{position: fixed;}

  /* common */
  .sprites{background-size: 195px 195px;}
  .inner{width:100%;}
	.mBox{padding:20px;}
	.mBox .btnArea{margin-left:0; margin-right:0;}

	.txt{margin:15px 0; font-size:15px; line-height:23px;}
	.box_img{margin:15px 0;}
	.box_border_list{padding:25px;}
	.innerImg span{display:block; margin-bottom:15px; text-align:center;}
	.innerImg span img{display:none;}
	.innerImg span .m{display:inline;}
	.innerImg p{display:block; width:100%; margin-left:0;}

	.tit_commandment{margin-top:20px !important;}
	.commandment{height:auto; padding:20px; background:none;}
	.commandment .bullet_round_blue{width:25px; height:25px; line-height:25px; font-size:15px;}
	.commandment .indent_list_bullet li{padding-left:30px; text-indent:-30px; font-size:15px; line-height: 21px;}

	/* popup */
	#hospital .popup_inner{padding:0 0 20px 0;}
	#hospital{left:0; width:100%; margin:0; padding:0 20px; border:1px solid #3c3c3c;}

	#pop_receipt .btn_print{display:none;}

  /* header */
  header .inner{padding:12px 0;}
  header h1 a{width:130px; height:35px; background-position: 0 -50px;}
  header .btn_openGnb{display: block; position:absolute;top:20px;left:20px; width:29px; height:21px; background-position:-100px 0;}

  /* footer */
  footer .inner{padding:20px 0 20px 195px; font-size:10px;}
  footer .f_logo{top:40px; left:20px; width: 130px; height:35px; background-position:0 -90px;}

	body{width:100%; height:100%; overflow:hidden; -webkit-text-size-adjust:none; user-select: none;
	display:flex; flex-direction:column; align-items:stretch; align-content:stretch;
  display:-webkit-flex; -webkit-flex-direction:column; -webkit-align-items:stretch; -webkit-align-content:stretch;
	display:-moz-flex; -moz-flex-direction:column; -moz-align-items:stretch; -moz-align-content:stretch;
	display:-ms-flex; -ms-flex-direction:column; -ms-align-items:stretch; -ms-align-content:stretch;}

	/* gnb */
	.menu{position:absolute; top:0; bottom:0; left:0; border-top:0; background:#356db6; overflow-y:auto; z-index:1000; -webkit-overflow-scrolling: touch;
		-webkit-width:calc(100% - 60px);
		-moz-width:calc(100% - 60px);
		width:calc(100% - 60px);
		-webkit-transform:translateX(-100%);
		-moz-transform:translateX(-100%);
		-ms-transform:translateX(-100%);
		transform:translateX(-100%);
	}
  .menu .util{position:relative;top:0;right:0;background: #fff;}
  .menu .util a{padding:4px 8px; border:1px solid #356db6; font-size:14px; color: #356db6; letter-spacing: -0.01em; vertical-align: middle;}
  .menu .util a+a{margin-left:10px;}
  .menu .util .pc{display:none;}
  .menu .util .myInfo{display:inline-block;padding:10px 0 10px 20px;vertical-align: middle;}
  .menu .util .myInfo img{display: inline-block;width:40px;height:40px;margin-right:10px;vertical-align: middle;}
  .menu .btn_openGnb{display: none;}
  .menu .gnb>li{float:none;border-bottom:1px solid #96b3d8;}
  .menu .gnb>li>a{display: block;position:relative;padding:15px 20px; font-size:17px; color:#fff; }
  .menu .gnb>li>a:after{content:"";display:inline-block;position: absolute;top:23px;right:20px;width:16px; height:9px;background: url(../images/sprites.png) no-repeat -70px -30px; background-size:195px 195px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition:all 0.3s ease;
	}
	.menu .gnb>li>a.is-opened:after{
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
		-o-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		transform:rotate(180deg);
	}
  .menu .gnb>li+li>a{background:none;}
  .menu .gnb .depth02{display:none; position:relative; top:0; left:0; padding:0; border:0; background:#fff; box-shadow:none;}
  .menu .gnb .depth02 li+li{margin-top:0; border-top:1px solid #b7b7b7}
  .menu .gnb .depth02 a{display: block;padding:12px 20px; font-size: 17px; color:#303030;line-height: 1;}
  .menu .gnb .last{right:inherit;}
  .menu .gnb>li:hover>a{background:none;color:inherit;}
  .menu .gnb>li:hover .depth02{display: none;}
	.menu .gnb .depth03{display:block; border-top:1px solid #b7b7b7; background:#ebf2fa;}
	.menu .gnb .depth03 li+li{border:0;}
	.btn_closeGnb{display: block; position:absolute; top:0; right:0; width:60px;height:60px;background-position:-130px 0;z-index:1000;
		-webkit-transform:translateX(100%);
		-moz-transform:translateX(100%);
		-ms-transform:translateX(100%);
		transform:translateX(100%);
	}

	/* main */
	.main_top .inner{height:auto;overflow:visible;}
	.main_top .carousel{width:452px; background:rgba(0,0,0,.5);}
	.main_top .top_link{position:relative; top:0; right:0;width:100%;border-bottom:1px solid #e0e0e0;}
	.main_top .top_link .links{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;}
	.main_top .top_link .item{float:none; width:16.6%; margin:7px; text-align:center;}
	.main_top .top_link a{display:inline-block; width:110px; height:110px; padding-top:35px;font-size:15px;}
	.main_top .top_link .item:nth-of-type(1) a{padding-top:45px;}
	.main_top .top_link .item:nth-of-type(5) a{padding-top:45px;}

	.recentlyBoard{padding:30px 0 0 0;}
	.recentlyBoard .inner>div{float:none;}
	.recentlyBoard .inner>div+div{margin-top:30px;}
	.recentlyBoard .notice{width:auto; margin-right:20px; margin-left:20px}
	.recentlyBoard .notice li span{display:inline-block; width:90%;}
	.recentlyBoard .event{width:auto; margin-right:20px; margin-left:20px}
	.recentlyBoard .jounal{position:relative;width:100%; height:100px; padding:0; background:#5389d0 url(../images/bg_jsm_m.jpg) no-repeat center top; background-size:360px 100px;}
	.recentlyBoard .jounal a{position: absolute; top:58px; left:50%; margin-left:-80px; border:1px solid #b2d3ff;}
	.recentlyBoard .jounal a+a{margin-top:0; margin-left:40px}
	.recentlyBoard .jounal a:after{content:""; display:inline-block; width:5px; height:7px; margin-left:20px; background:url(../images/ico_arrow.png) no-repeat top left; vertical-align: middle;}

	.main_link{padding:20px;}
	.main_link .inner{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;}
	.main_link a+a{margin-left:5px;}

	/* contents */
	section{overflow:hidden; overflow-y:auto; flex:1; -webkit-flex:1; -moz-flex:1; -ms-flex:1; -webkit-overflow-scrolling: touch;}
	section .left{display:none;}
	section .right{float:none;width:100%;}

	/* contents title */
	.box_tit{height:auto; background:#356db6;}
	.box_tit h3{margin:15px 0;font-size:22px; color:#fff; text-align:center;font-weight:normal;}
	.box_tit h3 span{position:absolute; top:0; left:0; width:100%; padding:15px 0; background:#356db6; font-size:22px;}
	.box_tit .location{display:none;}
	.box_tit .options{display:none;}

	.contents .right{margin-top:0; margin-bottom:40px; padding:0 10px 10px 10px;}

	/* 댓글 */
	.tbl_reply td{padding:20px 0; border-bottom:1px solid #d0d0d0;}
	.tbl_reply .userImage{background-position:0 -130px;}
	.tbl_reply .btns{position:absolute; top:50px; right:0; width:80px; text-align:center;}
	.tbl_reply .btn_modify{background-position:-130px -65px;}
	.tbl_reply .btn_del{background-position:-145px -65px;}

	/* 회원 검색 */
	.memberSearch{padding:30px 100px;}

	.thesis_data input{width:80px;}

	/* 회원가입 */
	.tab_joinstep{margin:10px 0 0 0;}
	.tab_joinstep li{width:33.3333%;padding:10px 5px;border-width:2px; font-size:14px;}
	.tab_joinstep li+li{margin-left:0;}
	.tab_joinstep li+li:before{display: none;}
	.tab_joinstep li strong{font-weight:normal;}

	/* 회원가입 약관동의 */
	.box_terms pre{height:150px; padding:20px; font-size:14px;}
	.box_terms span label+input{margin-left:30px;}
	.box_terms+.bulletBox{margin-top:20px;}

	/* table - member */
	.tbl_member th{padding:15px 0 15px 10px;}
	.tbl_member td{padding:5px;}
	.tbl_member td select,.tbl_member td input[type="text"],.tbl_member td input[type="password"]{height:30px;}
	.tbl_member .btn_black{height:30px;padding:0 9px;font-size: 14px;line-height: 30px;}

	.calendar_tab{margin-top:20px;}

	.topOptions{padding:20px;}

	/* 병원 찾기 */
	.find_hospital{margin-top:20px; padding:30px 70px;}

	/* faq */
	.faq_search{margin-top:20px; padding:30px 120px;}

	/* 자가진단 */
	.btns_selfTest{margin-top:20px;}

	/* 아이디 비밀번호 찾기 */
	.find_info strong{display:block;margin-left:105px; margin-top:5px;}

	/* 학회소개 */
	.greeting p span{margin-left: 25px;vertical-align: bottom;font-size:17px; line-height:23px;}
	.greeting p{font-size:15px;}
	.greeting p+p{margin-top:30px;}
	.greeting .writer{font-size:17px;}

	/* 임원 */
	.tbl_executive{margin-top:15px; font-size:13px;}

	/* 회원탈퇴 */
	.withdrawal{padding:30px;}
}

@media all and (max-width:767px){/*mobile*/

	/* main */
	.main_top{background:url(../images/bg_visual_m.jpg) no-repeat top right;background-size:360px 200px;}
	.main_top .inner{height:auto;overflow:visible;}
	.main_top .carousel{width:68%;}
	.main_top .mainTop_slider .owl-item img{width:auto;height:200px;}
	.main_top .mainTop_slider .owl-dots{bottom:0;}
	.main_top .top_link{position:relative; top:0; right:0;width:100%;padding:20px 0;border-bottom:1px solid #e0e0e0;background:url(../images/bg_top_link.jpg) no-repeat top center; background-size:100% 120px;}
	.main_top .top_link .links{display:block;padding:0 20px;}
	.main_top .top_link .item{float:none; width:auto; margin:0; text-align:center;}
	.main_top .top_link .item a{display:inline-block; width:80px; height:80px; font-size:12px;}
	.main_top .top_link .owl-item:nth-of-type(1) a{padding-top:30px;background:#4e7bb7;}
	.main_top .top_link .owl-item:nth-of-type(2) a{padding-top:25px;background:#b9d660;}
	.main_top .top_link .owl-item:nth-of-type(3) a{padding-top:25px;background:#de768e;}
	.main_top .top_link .owl-item:nth-of-type(4) a{padding-top:25px;background:#e9aa5b;}
	.main_top .top_link .owl-item:nth-of-type(5) a{padding-top:30px;background:#53b5bb;}
	.main_top .top_link .owl-item:nth-of-type(6) a{padding-top:25px;background:#b977cc;}
	.main_top .top_link .owl-dots{display:none;}
	.main_top .top_link .owl-nav{margin:0;}
	.main_top .top_link .owl-prev{position:absolute; top:29px; left:10px; width:14px; height:24px; margin:0; background:url(../images/btn_top_link_prev.png) no-repeat top left; background-size:14px 24px; font-size:0;text-indent:-99999px;}
	.main_top .top_link .owl-next{position:absolute; top:29px; right:10px; width:14px; height:24px; margin:0; background:url(../images/btn_top_link_next.png) no-repeat top left; background-size:14px 24px; font-size:0;text-indent:-99999px;}

	.recentlyBoard{padding:30px 0 0 0;}
	.recentlyBoard .tit_board{margin-bottom:15px;font-size:18px;}
	.recentlyBoard .inner>div{float:none;}
	.recentlyBoard .inner>div+div{margin-top:30px;}
	.recentlyBoard .notice{width:auto; margin-right:20px; margin-left:20px}
	.recentlyBoard .notice li{text-align:right;font-size:13px;}
	.recentlyBoard .notice li+li{margin-top:10px;}
	.recentlyBoard .notice li span{float:left;width:80%;text-align:left;}
	.recentlyBoard .event{width:auto; margin-right:20px; margin-left:20px}
	.recentlyBoard .event li{font-size:13px;}
	.recentlyBoard .jounal{position:relative;width:100%; height:100px; padding:0; background:#5389d0 url(../images/bg_jsm_m.jpg) no-repeat center top; background-size:360px 100px;}
	.recentlyBoard .jounal a{position: absolute; top:58px; left:50%; margin-left:-80px; border:1px solid #b2d3ff;}
	.recentlyBoard .jounal a+a{margin-top:0; margin-left:40px}
	.recentlyBoard .jounal a:after{content:""; display:inline-block; width:5px; height:7px; margin-left:20px; background:url(../images/ico_arrow.png) no-repeat top left; vertical-align: middle;}

	.main_link{padding:20px;}
	.main_link .inner{display:block;}
	.main_link a{width:32%;height:80px;margin-top:10px;padding-top:8px;font-size:14px;box-sizing:border-box;background-position:center 40px}
	.main_link a span{font-size:9px;}
	.main_link a+a{margin-left:2%;}
	.main_link a:nth-of-type(1){margin-top:0; margin-left:0;background-image:url(../images/ico_mainlink01_m.gif); background-size:25px 27px;}
	.main_link a:nth-of-type(2){margin-top:0;background-image:url(../images/ico_mainlink02.gif); background-size:25px 27px;}
	.main_link a:nth-of-type(3){margin-top:0;background-image:url(../images/ico_mainlink03.gif); background-size:28px 27px;}
	.main_link a:nth-of-type(4){margin-left:0; background-image:url(../images/ico_mainlink04.gif); background-size:27px 27px;}
	.main_link a:nth-of-type(5){background-image:url(../images/ico_mainlink05.gif); background-size:26px 27px;}
	.main_link a:nth-of-type(6){background-image:url(../images/ico_mainlink06.gif); background-size:34px 27px;}

  /* footer */
  footer{border-top:1px solid #dfdfdf;}
  footer .inner{padding:20px;}
  footer .f_logo{position:relative;top:0;left:0;}
  footer .link{margin-top:10px;}
  footer address{margin-top:10px;}

	.box_img img{display:none;}
	.box_img .m{display:inline;}
	.box_border_list{padding:15px;}

	.contents .right{padding:0;}

	.topOptions .box_search{display: flex; margin-top:10px; padding:0;}
	.topOptions .box_search a{position:relative;top:0;right:0;}
	.topOptions .box_search input{font-size:14px; letter-spacing: -0.05em;}
	.selectUi{width:100%;font-size:14px; letter-spacing: -0.05em;}

	/* table - common */
	.tbl,.tbl>thead,.tbl>tbody,
	.tbl>thead>tr,.tbl>tbody>tr,.tbl>tr,
	.tbl>thead>tr>th,.tbl>tr>th,
	.tbl>thead>tr>td,.tbl>tbody>tr>td,.tbl>tr>td{display: block;}
	.tbl{font-size:15px;}
	.tbl th,.tbl td{border:0;}

	/* table - list */
	.m_tbl_notice{border-top:1px solid #d0d0d0;}
	.m_tbl_notice thead{display: none;}
	.m_tbl_notice tr{padding:20px; border-bottom:1px solid #d0d0d0;}
	.m_tbl_notice td{display:inline-block;margin-right:10px;padding:0; text-align:left;color:#9e9e9e;}
	.m_tbl_notice .tit{display: block; margin:0 0 7px 0; color:#2f2f2f;}
	.m_tbl_notice td:nth-of-type(1),
	.m_tbl_notice td:nth-of-type(4),
	.m_tbl_notice td:nth-of-type(6){display:none;}
	.m_tbl_notice td.nodata{display:block;margin:0;text-align:center;}
	.m_thesis td:nth-of-type(5){display:none;}
	.board_count{display: none;}

	.m_tbl_member thead{display:none;}
	.m_tbl_member tr{position:relative;padding:10px 20px 10px 85px; border-bottom:1px solid #d0d0d0;}
	.m_tbl_member td{padding:2px 0;text-align: left;}
	.m_tbl_member .num{position:absolute; top:0; left:0; width:85px; text-align:center; line-height: 110px;}

	/* table - view */
	.tbl_view{table-layout: fixed;}
	.tbl_view th{border-bottom:1px solid #d0d0d0; font-size:15px;}
	.tbl_view th strong{font-size:17px;}
	.tbl_view td{padding:15px 20px; border-bottom:1px solid #d0d0d0; font-size:15px;}
	.tbl_view .files a{display: block;}
	.tbl_view .files li+li{margin-top:10px;}
	.tbl_view .files .file:after{width:16px;height:13px;background-size:195px 195px;background-position: -105px -35px;}

	/* table - write */
	.tbl_write tr{overflow: hidden;}
	.tbl_write th{float:left;width:30%;height:48px;padding:10px 0 0 20px;border-bottom: 1px solid #d0d0d0;text-align: left;}
	.tbl_write td{float:left;width:70%;height:48px;padding:5px 10px;border-bottom: 1px solid #d0d0d0;}
	.tbl_write td select,.tbl_write td input[type="text"],.tbl_write td input[type="password"]{height:37px;}
	.tbl_write .box_editor{width:100%;height:auto;padding:20px;}
	.tbl_write .innerTable{width:100%;height:auto;}
	.tbl_write .innerTable th{float:none;width:34%;height:auto;padding:10px 0 10px 20px;}
	.tbl_write .innerTable td{float:none;width:66%;height:auto;padding:10px;}
	.tbl_write .innerTable span{margin:5px 0;}
	.tbl_write .innerTable .w300{width:80% !important;}

	.addFile .files{float:none; width:100%;}
	.addFile .btn_del_file{display:inline-block;float:none; width:100%; padding:5px 0;}
	.addFile .files+.btn_del_file{border-left:1px solid #d0d0d0;}

	.chk_onoff label{display:inline-block; position:relative; width:110px; height:37px; padding:2px; border:1px solid #d0d0d0; border-radius:20px; z-index:1;}
	.chk_onoff label:before{width:40px; margin-left:0; line-height: 31px; font-size:13px; }
	.chk_onoff label:after{top:2px; left:41px; width:65px; height:31px; border-radius:20px;font-size:13px;line-height: 31px;}
	.chk_onoff input:checked+label:after{content:"ON";left:2px; background:#e8235b;}
	.chk_onoff input:checked+label:before{content:"OFF"; margin-left:62px;}

	/* table - standard */
	.tbl_fix col:nth-of-type(1){width:28% !important;}
	.tbl_fix select{width:100%;}

	.thesis_data span{display:block;}
	.thesis_data span+span{margin-left:0; margin-top:5px;}
	.thesis_data input{width:100%; vertical-align: middle;}
	.thesis_data b{display: none;}
	.thesis_data .pages input{width:45%;}

	/* bullet */
	.bulletBox{padding:10px 10px 10px 35px; letter-spacing: -0.1em; text-indent:-25px;}
	.bulletBox:before{margin-right:5px;}
	.bulletBox span{display: none;}

	/* button */
	.btn{font-size:16px;}

	.btnArea{margin-top:15px; margin-left:20px; margin-right:20px;}
	.btnArea .btn+.btn{margin-left:15px;}
	.btnArea.center{margin-left:0; margin-right:0;}
	.btnArea.center .btn{width:120px;}
	.btnArea.center .btn+.btn{margin-left:15px;}

	.btnPaging{float:none; margin-top:10px;}
	.btnPaging+.pagingWrap{margin-top:15px;}

	/* 검색 */
	.box_search{position:relative;float:none;margin-bottom:0;padding:20px 90px 20px 20px;}
	.box_search input{float: none;width:100% !important;}
	.box_search a{position:absolute; top:20px; right:20px;float: none;}

	/* paging */
	.pagingWrap{margin-top:15px;}
	.paging a{width:30px; height:30px; font-size:14px; line-height:28px;}
	.paging a img{margin-top:10px;}

	/* 댓글 */
	.box_reply{padding:0 20px;}
	.box_reply .id{padding:10px;}
	.box_reply .box_write{padding-right:0;}
	.box_reply .box_write textarea{height:90px;}
	.box_reply .box_write a{position:relative; top:0; right:0; width:100%; height:auto; border:1px solid #d0d0d0; border-left:1px solid #d0d0d0; border-top:0; line-height: 30px;}
	.tbl_reply .reply{padding-top:10px;padding-left:10px;padding-right:0;}
	.tbl_reply td{padding:10px 0;}
	.tbl_reply .reply strong{font-size:15px; color:#356db6;}
	.tbl_reply .reply p{font-size:14px;}
	.tbl_reply .btns{position:relative; top:0; right:0; width:100%; margin-top:10px; text-align:left;}

	/* 회원 검색 */
	.memberSearch{margin-bottom:15px; padding:20px; border:4px solid #ebf2fa; text-align: center;}
	.memberSearch p{margin-bottom:10px; padding-left:0; background:none; font-size:15px; text-align: left}
	.memberSearch p strong{font-size:18px; font-weight: normal;}
	.memberSearch input{width:100%; height:35px; margin-right:0; margin-bottom:10px;}
	.memberSearch .btn{width:120px;}

	/* 회원가입 */
	.tab_joinstep li{height:78px;}
	.tab_joinstep li:nth-of-type(3){padding-top:17px;}

	/* title type */
	.tit_page{margin-bottom:0; padding-bottom:10px; font-size:19px;}
	.arrow_right{float:none; width:auto; height:auto; margin-top:15px; padding:7px 20px; font-size:14px;}
	.arrow_right:after{content:""; display:inline-block; width:13px; height:7px; margin-left:10px; background:url(../images/ico_arrowRed.png) no-repeat top left; vertical-align: middle;}

	.arrow_right{margin-bottom:20px;}

	/* table - member */
	.tbl_member .w300{width:100%;}
	.tbl_member .mgl20{margin-left:0;}
	.tbl_member .inputBtn{display: flex;}
	.tbl_member .tel{display: flex;}
	.tbl_member .tel input{width:33%;}
	.tbl_member .pc{display: none;}

	.tbl_agree{border-top:0; border-bottom:1px solid #d0d0d0;}
	.tbl_agree th{border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0;font-size:14px;}
	.tbl_agree td{font-size:14px;}

	/* 가입완료 */
	.complateJoin div{width:100%; margin:0 auto 20px auto; padding:10px 0; text-align:center;}
	.complateJoin>strong{font-size:25px; color:#356db6;}

	/* 행사일정 */
	.tbl_event thead{display:none;}
	.tbl_event tr{position:relative; padding-bottom:15px; border-bottom:1px solid #d0d0d0;}
	.tbl_event td{padding:0 20px; font-size:15px;}
	.tbl_event .month{padding:15px 0;}
	.tbl_event .nodata{padding:15px 0;}
	.tbl_event .tit{padding-top:15px;padding-bottom:15px; padding-right:10px; color:#2f2f2f;}
	.tbl_event .tbl_btn{position:absolute; bottom:35px; right:20px; padding:0;}

	.bottom_search{margin-top:20px; overflow: hidden;}
	.bottom_search .box_search{display:block;float:none;}
	.bottom_search .box_search input{width:100%; font-size:12px;}
	.bottom_search .btnArea{display:block;float:none; margin:0 20px;}

	.calendar_tab{margin:20px;}
	.calendar_tab .btnArea{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;float:none;margin:0 0 10px 0;}
	.calendar_tab .btnArea a{width:50%;}
	.calendar_tab .btnArea .btn+.btn{margin-left:20px;}
	.calendar_tab select{width:100%; height:40px;}
	.ico_list:before{content:"";display:inline-block;width:16px;height:14px;margin-right:10px;background:url(../images/ico_list.png) no-repeat top left;vertical-align: middle;}
	.ico_calendar:before{content:"";display:inline-block;width:16px;height:16px;margin-right:10px;background:url(../images/ico_calendar.png) no-repeat top left;vertical-align: middle;}

	/* full calendar */
	#calendar{margin:0 20px;}
	.fc-scroller{height:auto !important;}
	.fc th{padding:5px 0 !important; font-size:12px;}
	.fc td{font-size:12px;}
	.fc-header-toolbar h2{font-size:19px !important;}
	.fc-basic-view .fc-week-number, .fc-basic-view .fc-day-number{padding:2px 5px !important;}
	.fc-today-button{top:5px !important; width:50px !important; padding:3px 0 !important;}
	.fc-prev-button{width:26px !important; height:26px !important; background:url(../images/btn_cal_prev_m.png) no-repeat top left !important; background-size:26px 26px !important; }
	.fc-next-button{width:26px !important; height:26px !important; margin-left:115px !important; background:url(../images/btn_cal_next_m.png) no-repeat top left !important; background-size:26px 26px !important;}
	.fc-button-group{top:3px !important; left:0 !important;}

	/* datepicker */
	.datepicker{margin:3px 0;}

	/* 학술행사 연혁 */
	.tbl_history{border-top:1px solid #d0d0d0;}
	.tbl_history tr{padding:15px 20px; border-bottom:1px solid #d0d0d0;}
	.tbl_history td{padding:0;}
	.tbl_history td dt{margin-bottom:10px;}
	.tbl_history td dd{font-size:15px;}
	.tbl_history .tbl_btn{margin-top:15px;}
	.tbl_history .tbl_btn a{width:80px; margin:0 0 0 5px; font-size:14px;}

	/* 병원 찾기 */
	.m_tbl_find{border-top:1px solid #d0d0d0;}
	.m_tbl_find thead{display:none;}
	.m_tbl_find tr{position: relative; padding:15px 97px 15px 60px; border-bottom:1px solid #d0d0d0;}
	.m_tbl_find td{padding:0;}
	.m_tbl_find .tit{margin-bottom:7px;}
	.m_tbl_find .dr{margin-top:5px; text-align:left}
	.m_tbl_find .dr:before{content:"담당의 : "; }
	.m_tbl_find .num{position: absolute; top:50%; left:0; width:60px; margin-top:-10px; color:#8d8d8d; text-align:center;}
	.m_tbl_find .btns{position: absolute; top:50%; right:0; width:97px; margin-top:-20px; text-align:center;}

	.find_hospital{margin-top:0;}
	.find_hospital p{height:auto;}
	.find_hospital select{width:100%; height:35px; margin-bottom:10px;}

	/* faq */
	.tit_faq{padding:10px;}
	.tit_faq>a{display:inline-block; padding-left:22px; color:#2f2f2f; text-indent:-25px;}
	.tit_faq>a:before{background-image: url(../images/bullet_faq_m.png); background-size:22px 22px;}
	.tit_faq span{display:block;position:relative; top:0; right:0;margin-top:20px; text-align:right;}
	.tit_faq span a+a{margin-left:10px; padding-left:10px;}
	.faq_detail{padding:15px 0;}
	.faq_detail p{line-height: 150%; font-size:15px;}
	.faq_detail p+p{margin-top:35px;}

	.faq_search{margin-top:0;}
	.faq_search p{height:auto; margin-left:0;}

	.search_count{display:block;}

	/* 자가진단 */
	.btns_selfTest a{display: block; width:200px; height:200px; margin:0 auto; padding-top:40px; border-width:0; font-size:20px; line-height:25px;}
	.btns_selfTest a+a{margin-left:auto;margin-top: 10px;}
	.btns_selfTest a:after{height:28px; margin-top:20px; background-image:url(../images/ico_selftest_m.png); background-size:32px 28px;}

	/* 자가진단 팝업 */
	.pop_self{left:0; height:100%; margin-left:0; padding:30px 20px; overflow-y:auto}
	.pop_self .close_popup{top:-30px; right:50%;margin-right:-20px;font-size: 15px;}
	.pop_self .tit_test{font-size:20px;}
	.pop_self .tbl_test{margin-top:20px; border-top:1px solid #d4d4d4; font-size:14px;}
	.pop_self .tbl_test td{border:0; border-bottom:1px solid #d4d4d4;}
	.pop_self .tbl_test td:first-child{border-right:1px solid #d4d4d4;}
	.pop_self .result{margin-top:10px; padding:8px 0; text-align:center;}
	.pop_self .result_guide{margin-top:10px; padding:12px 15px;}
	.pop_self .result_guide p{width:75px; height:75px;line-height:75px;}
	.pop_self .result_guide ul{margin-left:18px;}
	.pop_self .result_guide ul li{font-size: 13px;}

	#self01 .popup_inner{width:auto; height:auto; padding:20px 10px 10px 10px; border:5px solid #356db6; background:#fff;}
	#self01 .desc{height:49px; background-image:url(../images/txt_self01_m.jpg); background-size:181px 49px;}
	#self01 .test_guide{margin-top:15px; padding:10px 0; font-size:13px;}
	#self01 .test_guide p{display:block;text-align: center;font-weight: 700;}
	#self01 .test_guide ul{display:block; width:100%; margin:10px 5px 0 5px;}
	#self01 .test_guide ul li{letter-spacing: -0.08em;}
	#self01 .addInfo{margin-top:5px;font-size:13px;}

	#self02 .popup_inner{width:auto; height:auto; padding:20px 10px 10px 10px; border:5px solid #0ba6a4; background:#fff;}
	#self02 .test_guide{margin-top:15px; font-size:13px;}
	#self02 .addInfo{margin-top:5px;font-size:13px;}
	#self02 .question{margin:15px 0 10px 0;font-weight: 700; font-size:14px;color:#08a3a1;}
	#self02 .distractor{overflow: hidden;}
	#self02 .distractor li{margin:2px 10px 2px 0;}
	#self02 .distractor li+li{margin-left:0;}
	#self02 .result{margin-top:15px;}
	#self02 .result_guide ul{margin-left:5px;}
	#self02 .result_guide p{width:50px; height:50px;line-height:50px; font-size:14px;}
	#self02 .tbl_test,#self02 .tbl_test tbody,#self02 .tbl_test tr,#self02 .tbl_test th, #self02 .tbl_test td{display: block;}
	#self02 .tbl_test thead{display: none;}
	#self02 .tbl_test{margin-top:10px;}
	#self02 .tbl_test tr{overflow:hidden;}
	#self02 .tbl_test td{float:left;width:20%; padding:5px 0;}
	#self02 .tbl_test td+td{border-left:1px solid #d4d4d4;}
	#self02 .tbl_test td:before{content:""; display:block; padding:0 0 5px 0; border-bottom:1px solid #d4d4d4; font-size:13px;}
	#self02 .tbl_test td:nth-of-type(2){border-left:0;}
	#self02 .tbl_test td:nth-of-type(2):before{content:"없음";}
	#self02 .tbl_test td:nth-of-type(3):before{content:"약간";}
	#self02 .tbl_test td:nth-of-type(4):before{content:"중간";}
	#self02 .tbl_test td:nth-of-type(5):before{content:"심함";}
	#self02 .tbl_test td:nth-of-type(6):before{content:"매우심함";}
	#self02 .tbl_test td:first-child{width:100%; border-right:0;}
	#self02 .tbl_test td:first-child:before{display: none;}

	#self03 .popup_inner{width:auto; height:auto; padding:20px 20px 10px 20px; border:5px solid #60b42d; background:#fff;}
	#self03 .txt{margin-top:20px;}
	#self03 .txt strong{display:block; width:70px; height:70px; margin:0 auto; line-height: 70px; font-size:22px;}
	#self03 .txt p{display:block; width:100%; margin-left:0; margin-top:10px; font-size:14px; line-height: 20px;}
	#self03 .conclusion{margin-top:20px; margin-bottom:20px; padding-top:20px; font-size:17px; line-height: 23px;}

	/* login */
	.login{padding:35px 0; border:5px solid #ebf2fa;}
	.login p{width:300px; font-size: 13px; line-height: 19px;}
	.login p strong{display:block; margin-bottom:15px; font-size: 40px; text-align:center; line-height:1;}
	.login p strong img{display:none;}
	.login p span{margin-left:0;}
	.login+p{margin: 10px;font-size:14px; text-align:left;}
	.login .inputBox{position: relative; top:0; left:0; width:275px; margin:20px auto; text-align: left;}
	.login .inputBox span{display: block;}
	.login .inputBox span+span{margin-top:10px;}
	.login .inputBox label{width:77px; font-size: 14px;}
	.login .inputBox input{width:198px;}
	.login .inputBox a{position: relative; width:100%; height:50px; margin-top:20px; line-height: 50px;}
	.btn_border{width:135px; font-size:13px;}

	/* 아이디 비밀번호 찾기 */
	.find_info{padding:20px; border:5px solid #ebf2fa; background:none;}
	.find_info span{position:relative; padding-left:85px;}
	.find_info span+span{margin-top:10px;}
	.find_info label{position:absolute; top:10px; left:0; width:85px;}
	.find_info input{width:100%;}
	.find_info strong{margin-left:0;}

	/* 학회소개 */
	.greeting .imgBox{position:relative; min-height:85px; padding-left:80px;}
	.greeting .imgBox img{position:absolute; top:0; left:0; width:70px;}
	.greeting p span{margin-top:15px;margin-left: 0;vertical-align: bottom;font-size:17px; line-height:23px;}

	/* 연혁 */
	.tbl_history02{margin-top:20px; line-height:20px;}

	/* 회원가입안내 */
	.top_txt_box{padding:20px;line-height:22px;}

	.tbl_blue{font-size:14px; line-height:24px; color:#303030;}
	.tbl_blue td{padding-top:10px;padding-bottom:10px;}
	.tbl_blue colgroup col:nth-of-type(1){width:100px !important;}

	.list_indent li{padding-left:15px; text-indent:-15px;}
	.account span{display: block;}
	.list_indent ul{margin:10px 0 0 0;}
	.bullet_arrow:before{content:"";display:inline-block; width:9px; height:7px; margin-right:6px; background:url(../images/bullet_arrow.gif) no-repeat top left; vertical-align: middle;}
	.joinGuide .bulletBox{margin-top:20px; font-size:15px;}

	/* 사무국안내 */
	.officeInfo li{padding-left:80px; text-indent:-80px;}
	.officeInfo strong{display: inline-block;width:65px;text-indent:0;}
	.google-map{margin-top:0;height:250px;}
	.traffic{position:relative; padding-left:0;}
	.traffic img{position:relative; top:0; left:0;width:75px;}
	.traffic+.traffic{margin-top:20px;}
	.bus th{padding-left:10px;padding-right:10px;}
	.bus colgroup col:nth-of-type(1){width:35% !important}
	.subway colgroup col:nth-of-type(1){width:20% !important}

	/* 비밀번호 변경 */
	.changePassword{padding:20px;}
	.changePassword p{height:auto; margin-left:0; padding-top:0; padding-left:0; background:none; font-size:18px;}
	.changePassword input+input{margin-top:0;}
	.txt_changePassword{margin:20px; padding-left:10px; text-indent:-10px;}
	.txt_changePassword li{margin-top:0;}

	/* 회원탈퇴 */
	.withdrawal{padding:20px; text-align:left;}
	.withdrawal p{padding-left:0; background:none;}
	.withdrawal .tbl_fix th{text-align:center}

	.m_tbl_fee_blue,.m_tbl_fee_blue tbody,.m_tbl_fee_blue thead,.m_tbl_fee_blue tr,.m_tbl_fee_blue td,.m_tbl_fee_blue th{display:block;}
	.m_tbl_fee_blue{margin-top:10px;}
	.m_tbl_fee_blue th{display:none;}
	.m_tbl_fee_blue td{position:relative; height:80px; padding:10px 10px 10px 110px;}
	.m_tbl_fee_blue td:before{display:block; position:absolute; top:0; left:0; width:100px; height:100%; padding-top:30px; text-align:center; color:#fff; font-weight:700;}
	.m_tbl_fee_blue tr:nth-of-type(1) td:nth-of-type(1){padding-top:30px;}
	.m_tbl_fee_blue tr:nth-of-type(1) td:nth-of-type(1):before{content:"평생회원"; background:#356db6;}
	.m_tbl_fee_blue tr:nth-of-type(1) td:nth-of-type(2):before{content:"정회원"; background:#2b5ea9;}
	.m_tbl_fee_blue tr:nth-of-type(2) td:nth-of-type(1):before{content:"준회원\A(전공의)"; padding-top:20px; background:#356db6;white-space: pre-wrap;}
	.m_tbl_fee_blue tr:nth-of-type(2) td:nth-of-type(2):before{content:"일반회원"; background:#2b5ea9;}

	.m_tbl_fee,.m_tbl_fee tbody,.m_tbl_fee thead,.m_tbl_fee tr,.m_tbl_fee td,.m_tbl_fee th{display:block;}
	.m_tbl_fee{margin-top:10px;}
	.m_tbl_fee th{display:none;}
	.m_tbl_fee td{position:relative; padding:10px 10px 10px 110px; text-align:left;}
	.m_tbl_fee td:before{display:block; position:absolute; top:0; left:0; width:100px; height:100%; padding-top:10px; background:#f5f5f5; text-align:center;}
	.m_tbl_fee tr:nth-of-type(1) td:nth-of-type(1):before{content:"회원아이디";}
	.m_tbl_fee tr:nth-of-type(1) td:nth-of-type(2):before{content:"회원명";}
	.m_tbl_fee tr:nth-of-type(2) td:nth-of-type(1):before{content:"가입승인일";}
	.m_tbl_fee tr:nth-of-type(2) td:nth-of-type(2):before{content:"회원구분";}

	.tbl_scroll{overflow-x:auto;}
	.tbl_scroll .tbl_fix{margin-top:10px;width:700px;}
	.tbl_scroll .tbl_fix col{width:100px !important;}

	#pop_receipt{width:90%; left:0; margin-left:5%; margin-top:5%;}
	#pop_receipt .popup_inner{padding:10px;}
	#pop_receipt .receipt{padding:10px;}
}
